{% if extends %}{% extends "styleguide/includes/layout.html" %}{% endif %}

        {% block content %}
        {% include "styleguide/includes/moduleinfo.html" %}

        <div class="container storelocator-daf js-storelocator-daf">
            <div class="row">
                <div class="col-xs-12">
                    <div class="storelocator-daf__map map">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
