{% extends "styleguide/includes/base/masterpage.html" %}

        {% block content %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="styleguide__heading styleguide__heading--title">DAF2.0 styleguide</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid spacer spacer--large"></div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Typographic scale for web typography</h1>
                </div>
                <div class="col-xs-12">
                    <h2 class="heading heading--subheading">Typographic scale for web typography</h2>
                </div>
                <div class="col-xs-12">
                    <h2>Typographic scale for web typography</h2>
                </div>
                <div class="col-xs-12">
                    <h3>Typographic scale for web typography</h3>
                </div>
                <div class="col-xs-12">
                    <h4>Typographic scale for web typography</h4>
                </div>
                <div class="col-xs-12">
                    <h5>Typographic scale for web typography</h5>
                </div>
                <div class="col-xs-12">
                    <h6>Typographic scale for web typography</h6>
                </div>
                <div class="col-xs-12">
                    <p>The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non <strong>est tincidunt placerat</strong>. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>

                    <p>The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non <strong>est tincidunt placerat</strong>. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>
                </div>
                <div class="col-xs-12">
                    <p class="text--medium">The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non est tincidunt placerat. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>
                </div>
                <div class="col-xs-12">
                    <p class="text--bold">The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non est tincidunt placerat. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>
                </div>
                <div class="col-xs-12">
                    <p class="text--bold-condensed">The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non est tincidunt placerat. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>
                </div>
                <div class="col-xs-12">
                    <p class="text--larger">The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non est tincidunt placerat. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid spacer spacer--large"></div>

        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--brand-primary"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#fc5f01</h6>
                        </div>
                        <div class="card__description">
                            <h6>Brand Primary</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--brand-secondary"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#00529c</h6>
                        </div>
                        <div class="card__description">
                            <h6>Brand Secondary</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--brand-secondary-light"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#266cab</h6>
                        </div>
                        <div class="card__description">
                            <h6>Brand Secondary Light</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--brand-secondary-lighter"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#80a9ce</h6>
                        </div>
                        <div class="card__description">
                            <h6>Brand Secondary Lighter</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--brand-danger"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#ed1b2e</h6>
                        </div>
                        <div class="card__description">
                            <h6>Brand Danger</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--brand-success"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#16883F</h6>
                        </div>
                        <div class="card__description">
                            <h6>Brand Success</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--gray-lightest"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#f1f1f1</h6>
                        </div>
                        <div class="card__description">
                            <h6>Gray Lightest</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--gray-lighter"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#b9c1c6</h6>
                        </div>
                        <div class="card__description">
                            <h6>Gray Lighter</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--gray-light"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#8c9093</h6>
                        </div>
                        <div class="card__description">
                            <h6>Gray Light</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--gray"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#656b6f</h6>
                        </div>
                        <div class="card__description">
                            <h6>Gray</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--gray-dark"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#353c45</h6>
                        </div>
                        <div class="card__description">
                            <h6>Gray Dark</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="card">
                        <div class="card__image">
                            <div class="styleguide__color styleguide__color--gray-darker"></div>
                        </div>
                        <div class="card__title">
                            <h6 class="text text--uppercase">#21252b</h6>
                        </div>
                        <div class="card__description">
                            <h6>Gray Darker</h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid spacer spacer--large"></div>

        <div class="container-fluid bg bg--light">
            <p>full width</p>
            <div class="container bg bg--dark">
                <p>page width</p>
                <div class="row">
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                </div>
            </div>
        </div>

        <div class="container-fluid spacer spacer--large"></div>

        <div class="container-fluid nogutters bg bg--light">
            <p>full width without gutters</p>
            <div class="container nogutters bg bg--dark">
                <p>page width without gutters</p>
                <div class="row">
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                </div>
            </div>
        </div>

        <div class="container-fluid spacer spacer--large"></div>

        <div class="container-fluid nogutters bg bg--light">
            <p>full width without gutters</p>
            <div class="container nogutters bg bg--dark">
                <p>page width with gutters, cols without gutters</p>
                <div class="row nogutters">
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                </div>
            </div>
        </div>

        <div class="container-fluid spacer spacer--large"></div>

        <div class="container-fluid nogutters bg bg--light">
            <p>full width without gutters</p>
            <div class="container bg bg--dark">
                <p>page width and cols without gutters</p>
                <div class="row nogutters">
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                </div>
            </div>
        </div>

        <div class="container-fluid spacer spacer--large"></div>

        <div class="container-fluid nogutters bg bg--light">
            <p>full width without gutters</p>
            <div class="container bg bg--dark">
                <p>some cols without gutters</p>
                <div class="row">
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1 nogutters"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1 nogutters"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1 nogutters"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1 nogutters"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                    <div class="col-xs-1"><p class="bg bg--white">1</p></div>
                </div>
            </div>
        </div>

        <div class="container-fluid spacer spacer--large"></div>

        {% endblock %}
