{% extends "styleguide/includes/layout.html" %}

        {% block content %}

        {% include "components/cc01-header/header.html" %}

		<ul class="test">
			<li>
				<a href="?type=matrassen&page=1&numresults=12&colors=red,green,blue&sortmethod=price-asc">type=matrassen&page=1&numresults=12&colors=red,green,blue&sortmethod=price-asc</a>
			</li>
			<li>
				<a href="?type=boxsprings&page=2&numresults=12&colors=green,blue,yellow&sortmethod=name-desc">type=boxsprings&page=2&numresults=12&colors=green,blue,yellow&sortmethod=name-desc</a>
			</li>
			<li>
				<a href="?type=stapelbed&price=&page=4&numresults=12&sortmethod=size-asc">type=stapelbed&price=&page=4&numresults=12&sortmethod=price-asc</a>
			</li>
			<li>
				<a href="?type=lattenbodem&price=200-300,400-500&page=4&numresults=12&sortmethod=price-asc">type=lattenbodem&price=200-300,400-500&page=4&numresults=12&sortmethod=price-asc</a>
			</li>
		</ul>

        {% include "components/cc02-footer/footer.html" %}

        {% endblock %}
