// colors
$gray-darker:               #21252b;
$gray-dark:                 #353c45;
$gray:                      #656b6f;
$gray-light:                #8c9093;
$gray-lighter:              #b9c1c6;
$gray-lightest:             #f1f1f1;

$brand-primary:             #fc5f01;
$brand-secondary:           #00529c;
$brand-secondary-light:     #266cab;
$brand-secondary-lighter:   #80a9ce;

$brand-success:             #16883f;
$brand-info:                $brand-secondary-lighter;
$brand-warning:             $brand-primary;
$brand-danger:              #ed1b2e;

// body
$body-bg:                   #ffffff;

// text
$text-color:                $gray-dark;
$link-color:                $brand-secondary;
$link-hover-color:          $brand-secondary;
$link-hover-decoration:     none; // or ie: underline etc

// typography
$font-family-sans-serif:    "HelveticaNeueLTW1G", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-condensed:     "HelveticaNeueLTW1G-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:         Georgia, "Times New Roman", Times, serif;
$font-family-base:          $font-family-sans-serif;

$font-size-base:            16px;
$line-height-base:          1.2;

$headings-font-family:      $font-family-sans-serif;
$headings-font-weight:      700;
$headings-line-height:      $line-height-base;
$headings-color:            $gray-dark;

$icon-font-family:         "FontAwesome";
