 {% if extends %}{% extends "styleguide/includes/layout.html" %}{% endif %}

        {% block content %}
        {% include "styleguide/includes/moduleinfo.html" %}

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="heading heading--subheading">SVG Icons</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <svg class="icon"><use xlink:href="#ui-close" /></svg>
                        <svg class="icon"><use xlink:href="#ui-minus" /></svg>
                        <svg class="icon"><use xlink:href="#ui-plus" /></svg>
                        <svg class="icon"><use xlink:href="#ui-star" /></svg>
                        <svg class="icon"><use xlink:href="#social-facebook" /></svg>
                        <svg class="icon"><use xlink:href="#social-instagram" /></svg>
                        <svg class="icon"><use xlink:href="#social-googleplus" /></svg>
                        <svg class="icon"><use xlink:href="#social-twitter" /></svg>
                    </div>
                </div>
            </div>

            <div class="container-fluid spacer spacer--medium"></div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="heading heading--subheading">Font Icons (FontAwesome)</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                        <div class="icon icon__font icon__font--glass"></div>
                        <div class="icon icon__font icon__font--music"></div>
                        <div class="icon icon__font icon__font--search"></div>
                        <div class="icon icon__font icon__font--email-alt"></div>
                        <div class="icon icon__font icon__font--envelope-alt"></div>
                        <div class="icon icon__font icon__font--heart"></div>
                        <div class="icon icon__font icon__font--star"></div>
                        <div class="icon icon__font icon__font--star-empty"></div>
                        <div class="icon icon__font icon__font--user"></div>
                        <div class="icon icon__font icon__font--film"></div>
                        <div class="icon icon__font icon__font--th-large"></div>
                        <div class="icon icon__font icon__font--th"></div>
                        <div class="icon icon__font icon__font--th-list"></div>
                        <div class="icon icon__font icon__font--ok"></div>
                        <div class="icon icon__font icon__font--remove"></div>
                        <div class="icon icon__font icon__font--zoom-in"></div>
                        <div class="icon icon__font icon__font--zoom-out"></div>
                        <div class="icon icon__font icon__font--power-off"></div>
                        <div class="icon icon__font icon__font--off"></div>
                        <div class="icon icon__font icon__font--signal"></div>
                        <div class="icon icon__font icon__font--gear"></div>
                        <div class="icon icon__font icon__font--cog"></div>
                        <div class="icon icon__font icon__font--trash"></div>
                        <div class="icon icon__font icon__font--home"></div>
                        <div class="icon icon__font icon__font--file-alt"></div>
                        <div class="icon icon__font icon__font--time"></div>
                        <div class="icon icon__font icon__font--road"></div>
                        <div class="icon icon__font icon__font--download-alt"></div>
                        <div class="icon icon__font icon__font--download"></div>
                        <div class="icon icon__font icon__font--upload"></div>
                        <div class="icon icon__font icon__font--inbox"></div>
                        <div class="icon icon__font icon__font--play-circle"></div>
                        <div class="icon icon__font icon__font--rotate-right"></div>
                        <div class="icon icon__font icon__font--repeat"></div>
                        <div class="icon icon__font icon__font--refresh"></div>
                        <div class="icon icon__font icon__font--list-alt"></div>
                        <div class="icon icon__font icon__font--lock"></div>
                        <div class="icon icon__font icon__font--flag"></div>
                        <div class="icon icon__font icon__font--headphones"></div>
                        <div class="icon icon__font icon__font--volume-off"></div>
                        <div class="icon icon__font icon__font--volume-down"></div>
                        <div class="icon icon__font icon__font--volume-up"></div>
                        <div class="icon icon__font icon__font--qrcode"></div>
                        <div class="icon icon__font icon__font--barcode"></div>
                        <div class="icon icon__font icon__font--tag"></div>
                        <div class="icon icon__font icon__font--tags"></div>
                        <div class="icon icon__font icon__font--book"></div>
                        <div class="icon icon__font icon__font--bookmark"></div>
                        <div class="icon icon__font icon__font--print"></div>
                        <div class="icon icon__font icon__font--camera"></div>
                        <div class="icon icon__font icon__font--font"></div>
                        <div class="icon icon__font icon__font--bold"></div>
                        <div class="icon icon__font icon__font--italic"></div>
                        <div class="icon icon__font icon__font--text-height"></div>
                        <div class="icon icon__font icon__font--text-width"></div>
                        <div class="icon icon__font icon__font--align-left"></div>
                        <div class="icon icon__font icon__font--align-center"></div>
                        <div class="icon icon__font icon__font--align-right"></div>
                        <div class="icon icon__font icon__font--align-justify"></div>
                        <div class="icon icon__font icon__font--list"></div>
                        <div class="icon icon__font icon__font--indent-left"></div>
                        <div class="icon icon__font icon__font--indent-right"></div>
                        <div class="icon icon__font icon__font--facetime-video"></div>
                        <div class="icon icon__font icon__font--picture"></div>
                        <div class="icon icon__font icon__font--pencil"></div>
                        <div class="icon icon__font icon__font--map-marker"></div>
                        <div class="icon icon__font icon__font--adjust"></div>
                        <div class="icon icon__font icon__font--tint"></div>
                        <div class="icon icon__font icon__font--edit"></div>
                        <div class="icon icon__font icon__font--share"></div>
                        <div class="icon icon__font icon__font--check"></div>
                        <div class="icon icon__font icon__font--move"></div>
                        <div class="icon icon__font icon__font--step-backward"></div>
                        <div class="icon icon__font icon__font--fast-backward"></div>
                        <div class="icon icon__font icon__font--backward"></div>
                        <div class="icon icon__font icon__font--play"></div>
                        <div class="icon icon__font icon__font--pause"></div>
                        <div class="icon icon__font icon__font--stop"></div>
                        <div class="icon icon__font icon__font--forward"></div>
                        <div class="icon icon__font icon__font--fast-forward"></div>
                        <div class="icon icon__font icon__font--step-forward"></div>
                        <div class="icon icon__font icon__font--eject"></div>
                        <div class="icon icon__font icon__font--chevron-left"></div>
                        <div class="icon icon__font icon__font--chevron-right"></div>
                        <div class="icon icon__font icon__font--plus-sign"></div>
                        <div class="icon icon__font icon__font--minus-sign"></div>
                        <div class="icon icon__font icon__font--remove-sign"></div>
                        <div class="icon icon__font icon__font--ok-sign"></div>
                        <div class="icon icon__font icon__font--question-sign"></div>
                        <div class="icon icon__font icon__font--info-sign"></div>
                        <div class="icon icon__font icon__font--screenshot"></div>
                        <div class="icon icon__font icon__font--remove-circle"></div>
                        <div class="icon icon__font icon__font--ok-circle"></div>
                        <div class="icon icon__font icon__font--ban-circle"></div>
                        <div class="icon icon__font icon__font--arrow-left"></div>
                        <div class="icon icon__font icon__font--arrow-right"></div>
                        <div class="icon icon__font icon__font--arrow-up"></div>
                        <div class="icon icon__font icon__font--arrow-down"></div>
                        <div class="icon icon__font icon__font--mail-forward"></div>
                        <div class="icon icon__font icon__font--share-alt"></div>
                        <div class="icon icon__font icon__font--resize-full"></div>
                        <div class="icon icon__font icon__font--resize-small"></div>
                        <div class="icon icon__font icon__font--plus"></div>
                        <div class="icon icon__font icon__font--minus"></div>
                        <div class="icon icon__font icon__font--asterisk"></div>
                        <div class="icon icon__font icon__font--exclamation-sign"></div>
                        <div class="icon icon__font icon__font--gift"></div>
                        <div class="icon icon__font icon__font--leaf"></div>
                        <div class="icon icon__font icon__font--fire"></div>
                        <div class="icon icon__font icon__font--eye-open"></div>
                        <div class="icon icon__font icon__font--eye-close"></div>
                        <div class="icon icon__font icon__font--warning-sign"></div>
                        <div class="icon icon__font icon__font--plane"></div>
                        <div class="icon icon__font icon__font--calendar"></div>
                        <div class="icon icon__font icon__font--random"></div>
                        <div class="icon icon__font icon__font--comment"></div>
                        <div class="icon icon__font icon__font--magnet"></div>
                        <div class="icon icon__font icon__font--chevron-up"></div>
                        <div class="icon icon__font icon__font--chevron-down"></div>
                        <div class="icon icon__font icon__font--retweet"></div>
                        <div class="icon icon__font icon__font--shopping-cart"></div>
                        <div class="icon icon__font icon__font--folder-close"></div>
                        <div class="icon icon__font icon__font--folder-open"></div>
                        <div class="icon icon__font icon__font--resize-vertical"></div>
                        <div class="icon icon__font icon__font--resize-horizontal"></div>
                        <div class="icon icon__font icon__font--bar-chart"></div>
                        <div class="icon icon__font icon__font--twitter-sign"></div>
                        <div class="icon icon__font icon__font--facebook-sign"></div>
                        <div class="icon icon__font icon__font--camera-retro"></div>
                        <div class="icon icon__font icon__font--key"></div>
                        <div class="icon icon__font icon__font--gears"></div>
                        <div class="icon icon__font icon__font--cogs"></div>
                        <div class="icon icon__font icon__font--comments"></div>
                        <div class="icon icon__font icon__font--thumbs-up-alt"></div>
                        <div class="icon icon__font icon__font--thumbs-down-alt"></div>
                        <div class="icon icon__font icon__font--star-half"></div>
                        <div class="icon icon__font icon__font--heart-empty"></div>
                        <div class="icon icon__font icon__font--signout"></div>
                        <div class="icon icon__font icon__font--linkedin-sign"></div>
                        <div class="icon icon__font icon__font--pushpin"></div>
                        <div class="icon icon__font icon__font--external-link"></div>
                        <div class="icon icon__font icon__font--signin"></div>
                        <div class="icon icon__font icon__font--trophy"></div>
                        <div class="icon icon__font icon__font--github-sign"></div>
                        <div class="icon icon__font icon__font--upload-alt"></div>
                        <div class="icon icon__font icon__font--lemon"></div>
                        <div class="icon icon__font icon__font--phone"></div>
                        <div class="icon icon__font icon__font--unchecked"></div>
                        <div class="icon icon__font icon__font--check-empty"></div>
                        <div class="icon icon__font icon__font--bookmark-empty"></div>
                        <div class="icon icon__font icon__font--phone-sign"></div>
                        <div class="icon icon__font icon__font--twitter"></div>
                        <div class="icon icon__font icon__font--facebook"></div>
                        <div class="icon icon__font icon__font--github"></div>
                        <div class="icon icon__font icon__font--unlock"></div>
                        <div class="icon icon__font icon__font--credit-card"></div>
                        <div class="icon icon__font icon__font--rss"></div>
                        <div class="icon icon__font icon__font--hdd"></div>
                        <div class="icon icon__font icon__font--bullhorn"></div>
                        <div class="icon icon__font icon__font--bell"></div>
                        <div class="icon icon__font icon__font--certificate"></div>
                        <div class="icon icon__font icon__font--hand-right"></div>
                        <div class="icon icon__font icon__font--hand-left"></div>
                        <div class="icon icon__font icon__font--hand-up"></div>
                        <div class="icon icon__font icon__font--hand-down"></div>
                        <div class="icon icon__font icon__font--circle-arrow-left"></div>
                        <div class="icon icon__font icon__font--circle-arrow-right"></div>
                        <div class="icon icon__font icon__font--circle-arrow-up"></div>
                        <div class="icon icon__font icon__font--circle-arrow-down"></div>
                        <div class="icon icon__font icon__font--globe"></div>
                        <div class="icon icon__font icon__font--wrench"></div>
                        <div class="icon icon__font icon__font--tasks"></div>
                        <div class="icon icon__font icon__font--filter"></div>
                        <div class="icon icon__font icon__font--briefcase"></div>
                        <div class="icon icon__font icon__font--fullscreen"></div>
                        <div class="icon icon__font icon__font--group"></div>
                        <div class="icon icon__font icon__font--link"></div>
                        <div class="icon icon__font icon__font--cloud"></div>
                        <div class="icon icon__font icon__font--beaker"></div>
                        <div class="icon icon__font icon__font--cut"></div>
                        <div class="icon icon__font icon__font--copy"></div>
                        <div class="icon icon__font icon__font--paperclip"></div>
                        <div class="icon icon__font icon__font--paper-clip"></div>
                        <div class="icon icon__font icon__font--save"></div>
                        <div class="icon icon__font icon__font--sign-blank"></div>
                        <div class="icon icon__font icon__font--reorder"></div>
                        <div class="icon icon__font icon__font--list-ul"></div>
                        <div class="icon icon__font icon__font--list-ol"></div>
                        <div class="icon icon__font icon__font--strikethrough"></div>
                        <div class="icon icon__font icon__font--underline"></div>
                        <div class="icon icon__font icon__font--table"></div>
                        <div class="icon icon__font icon__font--magic"></div>
                        <div class="icon icon__font icon__font--truck"></div>
                        <div class="icon icon__font icon__font--pinterest"></div>
                        <div class="icon icon__font icon__font--pinterest-sign"></div>
                        <div class="icon icon__font icon__font--google-plus-sign"></div>
                        <div class="icon icon__font icon__font--google-plus"></div>
                        <div class="icon icon__font icon__font--money"></div>
                        <div class="icon icon__font icon__font--caret-down"></div>
                        <div class="icon icon__font icon__font--caret-up"></div>
                        <div class="icon icon__font icon__font--caret-left"></div>
                        <div class="icon icon__font icon__font--caret-right"></div>
                        <div class="icon icon__font icon__font--columns"></div>
                        <div class="icon icon__font icon__font--sort"></div>
                        <div class="icon icon__font icon__font--sort-down"></div>
                        <div class="icon icon__font icon__font--sort-up"></div>
                        <div class="icon icon__font icon__font--email"></div>
                        <div class="icon icon__font icon__font--envelope"></div>
                        <div class="icon icon__font icon__font--linkedin"></div>
                        <div class="icon icon__font icon__font--rotate-left"></div>
                        <div class="icon icon__font icon__font--undo"></div>
                        <div class="icon icon__font icon__font--legal"></div>
                        <div class="icon icon__font icon__font--dashboard"></div>
                        <div class="icon icon__font icon__font--comment-alt"></div>
                        <div class="icon icon__font icon__font--comments-alt"></div>
                        <div class="icon icon__font icon__font--bolt"></div>
                        <div class="icon icon__font icon__font--sitemap"></div>
                        <div class="icon icon__font icon__font--umbrella"></div>
                        <div class="icon icon__font icon__font--paste"></div>
                        <div class="icon icon__font icon__font--lightbulb"></div>
                        <div class="icon icon__font icon__font--exchange"></div>
                        <div class="icon icon__font icon__font--cloud-download"></div>
                        <div class="icon icon__font icon__font--cloud-upload"></div>
                        <div class="icon icon__font icon__font--user-md"></div>
                        <div class="icon icon__font icon__font--stethoscope"></div>
                        <div class="icon icon__font icon__font--suitcase"></div>
                        <div class="icon icon__font icon__font--bell-alt"></div>
                        <div class="icon icon__font icon__font--coffee"></div>
                        <div class="icon icon__font icon__font--food"></div>
                        <div class="icon icon__font icon__font--file-text-alt"></div>
                        <div class="icon icon__font icon__font--building"></div>
                        <div class="icon icon__font icon__font--hospital"></div>
                        <div class="icon icon__font icon__font--ambulance"></div>
                        <div class="icon icon__font icon__font--medkit"></div>
                        <div class="icon icon__font icon__font--fighter-jet"></div>
                        <div class="icon icon__font icon__font--beer"></div>
                        <div class="icon icon__font icon__font--h-sign"></div>
                        <div class="icon icon__font icon__font--plus-sign-alt"></div>
                        <div class="icon icon__font icon__font--double-angle-left"></div>
                        <div class="icon icon__font icon__font--double-angle-right"></div>
                        <div class="icon icon__font icon__font--double-angle-up"></div>
                        <div class="icon icon__font icon__font--double-angle-down"></div>
                        <div class="icon icon__font icon__font--angle-left"></div>
                        <div class="icon icon__font icon__font--angle-right"></div>
                        <div class="icon icon__font icon__font--angle-up"></div>
                        <div class="icon icon__font icon__font--angle-down"></div>
                        <div class="icon icon__font icon__font--desktop"></div>
                        <div class="icon icon__font icon__font--laptop"></div>
                        <div class="icon icon__font icon__font--tablet"></div>
                        <div class="icon icon__font icon__font--mobile-phone"></div>
                        <div class="icon icon__font icon__font--circle-blank"></div>
                        <div class="icon icon__font icon__font--quote-left"></div>
                        <div class="icon icon__font icon__font--quote-right"></div>
                        <div class="icon icon__font icon__font--spinner"></div>
                        <div class="icon icon__font icon__font--circle"></div>
                        <div class="icon icon__font icon__font--mail-reply"></div>
                        <div class="icon icon__font icon__font--reply"></div>
                        <div class="icon icon__font icon__font--github-alt"></div>
                        <div class="icon icon__font icon__font--folder-close-alt"></div>
                        <div class="icon icon__font icon__font--folder-open-alt"></div>
                        <div class="icon icon__font icon__font--expand-alt"></div>
                        <div class="icon icon__font icon__font--collapse-alt"></div>
                        <div class="icon icon__font icon__font--smile"></div>
                        <div class="icon icon__font icon__font--frown"></div>
                        <div class="icon icon__font icon__font--meh"></div>
                        <div class="icon icon__font icon__font--gamepad"></div>
                        <div class="icon icon__font icon__font--keyboard"></div>
                        <div class="icon icon__font icon__font--flag-alt"></div>
                        <div class="icon icon__font icon__font--flag-checkered"></div>
                        <div class="icon icon__font icon__font--terminal"></div>
                        <div class="icon icon__font icon__font--code"></div>
                        <div class="icon icon__font icon__font--reply-all"></div>
                        <div class="icon icon__font icon__font--mail-reply-all"></div>
                        <div class="icon icon__font icon__font--star-half-full"></div>
                        <div class="icon icon__font icon__font--star-half-empty"></div>
                        <div class="icon icon__font icon__font--location-arrow"></div>
                        <div class="icon icon__font icon__font--crop"></div>
                        <div class="icon icon__font icon__font--code-fork"></div>
                        <div class="icon icon__font icon__font--unlink"></div>
                        <div class="icon icon__font icon__font--question"></div>
                        <div class="icon icon__font icon__font--info"></div>
                        <div class="icon icon__font icon__font--exclamation"></div>
                        <div class="icon icon__font icon__font--superscript"></div>
                        <div class="icon icon__font icon__font--subscript"></div>
                        <div class="icon icon__font icon__font--eraser"></div>
                        <div class="icon icon__font icon__font--puzzle-piece"></div>
                        <div class="icon icon__font icon__font--microphone"></div>
                        <div class="icon icon__font icon__font--microphone-off"></div>
                        <div class="icon icon__font icon__font--shield"></div>
                        <div class="icon icon__font icon__font--calendar-empty"></div>
                        <div class="icon icon__font icon__font--fire-extinguisher"></div>
                        <div class="icon icon__font icon__font--rocket"></div>
                        <div class="icon icon__font icon__font--maxcdn"></div>
                        <div class="icon icon__font icon__font--chevron-sign-left"></div>
                        <div class="icon icon__font icon__font--chevron-sign-right"></div>
                        <div class="icon icon__font icon__font--chevron-sign-up"></div>
                        <div class="icon icon__font icon__font--chevron-sign-down"></div>
                        <div class="icon icon__font icon__font--html5"></div>
                        <div class="icon icon__font icon__font--css3"></div>
                        <div class="icon icon__font icon__font--anchor"></div>
                        <div class="icon icon__font icon__font--unlock-alt"></div>
                        <div class="icon icon__font icon__font--bullseye"></div>
                        <div class="icon icon__font icon__font--ellipsis-horizontal"></div>
                        <div class="icon icon__font icon__font--ellipsis-vertical"></div>
                        <div class="icon icon__font icon__font--rss-sign"></div>
                        <div class="icon icon__font icon__font--play-sign"></div>
                        <div class="icon icon__font icon__font--ticket"></div>
                        <div class="icon icon__font icon__font--minus-sign-alt"></div>
                        <div class="icon icon__font icon__font--check-minus"></div>
                        <div class="icon icon__font icon__font--level-up"></div>
                        <div class="icon icon__font icon__font--level-down"></div>
                        <div class="icon icon__font icon__font--check-sign"></div>
                        <div class="icon icon__font icon__font--edit-sign"></div>
                        <div class="icon icon__font icon__font--external-link-sign"></div>
                        <div class="icon icon__font icon__font--share-sign"></div>
                        <div class="icon icon__font icon__font--compass"></div>
                        <div class="icon icon__font icon__font--collapse"></div>
                        <div class="icon icon__font icon__font--collapse-top"></div>
                        <div class="icon icon__font icon__font--expand"></div>
                        <div class="icon icon__font icon__font--euro"></div>
                        <div class="icon icon__font icon__font--eur"></div>
                        <div class="icon icon__font icon__font--gbp"></div>
                        <div class="icon icon__font icon__font--dollar"></div>
                        <div class="icon icon__font icon__font--usd"></div>
                        <div class="icon icon__font icon__font--rupee"></div>
                        <div class="icon icon__font icon__font--inr"></div>
                        <div class="icon icon__font icon__font--yen"></div>
                        <div class="icon icon__font icon__font--jpy"></div>
                        <div class="icon icon__font icon__font--renminbi"></div>
                        <div class="icon icon__font icon__font--cny"></div>
                        <div class="icon icon__font icon__font--won"></div>
                        <div class="icon icon__font icon__font--krw"></div>
                        <div class="icon icon__font icon__font--bitcoin"></div>
                        <div class="icon icon__font icon__font--btc"></div>
                        <div class="icon icon__font icon__font--file"></div>
                        <div class="icon icon__font icon__font--file-text"></div>
                        <div class="icon icon__font icon__font--sort-by-alphabet"></div>
                        <div class="icon icon__font icon__font--sort-by-alphabet-alt"></div>
                        <div class="icon icon__font icon__font--sort-by-attributes"></div>
                        <div class="icon icon__font icon__font--sort-by-attributes-alt"></div>
                        <div class="icon icon__font icon__font--sort-by-order"></div>
                        <div class="icon icon__font icon__font--sort-by-order-alt"></div>
                        <div class="icon icon__font icon__font--thumbs-up"></div>
                        <div class="icon icon__font icon__font--thumbs-down"></div>
                        <div class="icon icon__font icon__font--youtube-sign"></div>
                        <div class="icon icon__font icon__font--youtube"></div>
                        <div class="icon icon__font icon__font--xing"></div>
                        <div class="icon icon__font icon__font--xing-sign"></div>
                        <div class="icon icon__font icon__font--youtube-play"></div>
                        <div class="icon icon__font icon__font--dropbox"></div>
                        <div class="icon icon__font icon__font--stackexchange"></div>
                        <div class="icon icon__font icon__font--instagram"></div>
                        <div class="icon icon__font icon__font--flickr"></div>
                        <div class="icon icon__font icon__font--adn"></div>
                        <div class="icon icon__font icon__font--bitbucket"></div>
                        <div class="icon icon__font icon__font--bitbucket-sign"></div>
                        <div class="icon icon__font icon__font--tumblr"></div>
                        <div class="icon icon__font icon__font--tumblr-sign"></div>
                        <div class="icon icon__font icon__font--long-arrow-down"></div>
                        <div class="icon icon__font icon__font--long-arrow-up"></div>
                        <div class="icon icon__font icon__font--long-arrow-left"></div>
                        <div class="icon icon__font icon__font--long-arrow-right"></div>
                        <div class="icon icon__font icon__font--apple"></div>
                        <div class="icon icon__font icon__font--windows"></div>
                        <div class="icon icon__font icon__font--android"></div>
                        <div class="icon icon__font icon__font--linux"></div>
                        <div class="icon icon__font icon__font--dribbble"></div>
                        <div class="icon icon__font icon__font--skype"></div>
                        <div class="icon icon__font icon__font--foursquare"></div>
                        <div class="icon icon__font icon__font--trello"></div>
                        <div class="icon icon__font icon__font--female"></div>
                        <div class="icon icon__font icon__font--male"></div>
                        <div class="icon icon__font icon__font--gittip"></div>
                        <div class="icon icon__font icon__font--sun"></div>
                        <div class="icon icon__font icon__font--moon"></div>
                        <div class="icon icon__font icon__font--archive"></div>
                        <div class="icon icon__font icon__font--bug"></div>
                        <div class="icon icon__font icon__font--vk"></div>
                        <div class="icon icon__font icon__font--weibo"></div>
                        <div class="icon icon__font icon__font--renren"></div>

                    </div>
                </div>
            </div>

        {% endblock %}
