 {% if extends %}{% extends "styleguide/includes/layout.html" %}{% endif %}

        {% block content %}
        {% include "styleguide/includes/moduleinfo.html" %}

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="heading heading--subheading">SVG Icons</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <svg class="icon"><use xlink:href="#ui-close" /></svg>
                        <svg class="icon"><use xlink:href="#ui-minus" /></svg>
                        <svg class="icon"><use xlink:href="#ui-plus" /></svg>
                        <svg class="icon"><use xlink:href="#ui-star" /></svg>
                        <svg class="icon"><use xlink:href="#social-facebook" /></svg>
                        <svg class="icon"><use xlink:href="#social-instagram" /></svg>
                        <svg class="icon"><use xlink:href="#social-googleplus" /></svg>
                        <svg class="icon"><use xlink:href="#social-twitter" /></svg>
                        <svg class="icon"><use xlink:href="#random-pencil" /></svg>
                    </div>
                </div>
            </div>

            <div class="container-fluid spacer spacer--medium"></div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="heading heading--subheading">Font Icons (FontAwesome)</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                        <div class="icon-font icon-font--glass"></div>
                        <div class="icon-font icon-font--music"></div>
                        <div class="icon-font icon-font--search"></div>
                        <div class="icon-font icon-font--email-alt"></div>
                        <div class="icon-font icon-font--envelope-alt"></div>
                        <div class="icon-font icon-font--heart"></div>
                        <div class="icon-font icon-font--star"></div>
                        <div class="icon-font icon-font--star-empty"></div>
                        <div class="icon-font icon-font--user"></div>
                        <div class="icon-font icon-font--film"></div>
                        <div class="icon-font icon-font--th-large"></div>
                        <div class="icon-font icon-font--th"></div>
                        <div class="icon-font icon-font--th-list"></div>
                        <div class="icon-font icon-font--ok"></div>
                        <div class="icon-font icon-font--remove"></div>
                        <div class="icon-font icon-font--zoom-in"></div>
                        <div class="icon-font icon-font--zoom-out"></div>
                        <div class="icon-font icon-font--power-off"></div>
                        <div class="icon-font icon-font--off"></div>
                        <div class="icon-font icon-font--signal"></div>
                        <div class="icon-font icon-font--gear"></div>
                        <div class="icon-font icon-font--cog"></div>
                        <div class="icon-font icon-font--trash"></div>
                        <div class="icon-font icon-font--home"></div>
                        <div class="icon-font icon-font--file-alt"></div>
                        <div class="icon-font icon-font--time"></div>
                        <div class="icon-font icon-font--road"></div>
                        <div class="icon-font icon-font--download-alt"></div>
                        <div class="icon-font icon-font--download"></div>
                        <div class="icon-font icon-font--upload"></div>
                        <div class="icon-font icon-font--inbox"></div>
                        <div class="icon-font icon-font--play-circle"></div>
                        <div class="icon-font icon-font--rotate-right"></div>
                        <div class="icon-font icon-font--repeat"></div>
                        <div class="icon-font icon-font--refresh"></div>
                        <div class="icon-font icon-font--list-alt"></div>
                        <div class="icon-font icon-font--lock"></div>
                        <div class="icon-font icon-font--flag"></div>
                        <div class="icon-font icon-font--headphones"></div>
                        <div class="icon-font icon-font--volume-off"></div>
                        <div class="icon-font icon-font--volume-down"></div>
                        <div class="icon-font icon-font--volume-up"></div>
                        <div class="icon-font icon-font--qrcode"></div>
                        <div class="icon-font icon-font--barcode"></div>
                        <div class="icon-font icon-font--tag"></div>
                        <div class="icon-font icon-font--tags"></div>
                        <div class="icon-font icon-font--book"></div>
                        <div class="icon-font icon-font--bookmark"></div>
                        <div class="icon-font icon-font--print"></div>
                        <div class="icon-font icon-font--camera"></div>
                        <div class="icon-font icon-font--font"></div>
                        <div class="icon-font icon-font--bold"></div>
                        <div class="icon-font icon-font--italic"></div>
                        <div class="icon-font icon-font--text-height"></div>
                        <div class="icon-font icon-font--text-width"></div>
                        <div class="icon-font icon-font--align-left"></div>
                        <div class="icon-font icon-font--align-center"></div>
                        <div class="icon-font icon-font--align-right"></div>
                        <div class="icon-font icon-font--align-justify"></div>
                        <div class="icon-font icon-font--list"></div>
                        <div class="icon-font icon-font--indent-left"></div>
                        <div class="icon-font icon-font--indent-right"></div>
                        <div class="icon-font icon-font--facetime-video"></div>
                        <div class="icon-font icon-font--picture"></div>
                        <div class="icon-font icon-font--pencil"></div>
                        <div class="icon-font icon-font--map-marker"></div>
                        <div class="icon-font icon-font--adjust"></div>
                        <div class="icon-font icon-font--tint"></div>
                        <div class="icon-font icon-font--edit"></div>
                        <div class="icon-font icon-font--share"></div>
                        <div class="icon-font icon-font--check"></div>
                        <div class="icon-font icon-font--move"></div>
                        <div class="icon-font icon-font--step-backward"></div>
                        <div class="icon-font icon-font--fast-backward"></div>
                        <div class="icon-font icon-font--backward"></div>
                        <div class="icon-font icon-font--play"></div>
                        <div class="icon-font icon-font--pause"></div>
                        <div class="icon-font icon-font--stop"></div>
                        <div class="icon-font icon-font--forward"></div>
                        <div class="icon-font icon-font--fast-forward"></div>
                        <div class="icon-font icon-font--step-forward"></div>
                        <div class="icon-font icon-font--eject"></div>
                        <div class="icon-font icon-font--chevron-left"></div>
                        <div class="icon-font icon-font--chevron-right"></div>
                        <div class="icon-font icon-font--plus-sign"></div>
                        <div class="icon-font icon-font--minus-sign"></div>
                        <div class="icon-font icon-font--remove-sign"></div>
                        <div class="icon-font icon-font--ok-sign"></div>
                        <div class="icon-font icon-font--question-sign"></div>
                        <div class="icon-font icon-font--info-sign"></div>
                        <div class="icon-font icon-font--screenshot"></div>
                        <div class="icon-font icon-font--remove-circle"></div>
                        <div class="icon-font icon-font--ok-circle"></div>
                        <div class="icon-font icon-font--ban-circle"></div>
                        <div class="icon-font icon-font--arrow-left"></div>
                        <div class="icon-font icon-font--arrow-right"></div>
                        <div class="icon-font icon-font--arrow-up"></div>
                        <div class="icon-font icon-font--arrow-down"></div>
                        <div class="icon-font icon-font--mail-forward"></div>
                        <div class="icon-font icon-font--share-alt"></div>
                        <div class="icon-font icon-font--resize-full"></div>
                        <div class="icon-font icon-font--resize-small"></div>
                        <div class="icon-font icon-font--plus"></div>
                        <div class="icon-font icon-font--minus"></div>
                        <div class="icon-font icon-font--asterisk"></div>
                        <div class="icon-font icon-font--exclamation-sign"></div>
                        <div class="icon-font icon-font--gift"></div>
                        <div class="icon-font icon-font--leaf"></div>
                        <div class="icon-font icon-font--fire"></div>
                        <div class="icon-font icon-font--eye-open"></div>
                        <div class="icon-font icon-font--eye-close"></div>
                        <div class="icon-font icon-font--warning-sign"></div>
                        <div class="icon-font icon-font--plane"></div>
                        <div class="icon-font icon-font--calendar"></div>
                        <div class="icon-font icon-font--random"></div>
                        <div class="icon-font icon-font--comment"></div>
                        <div class="icon-font icon-font--magnet"></div>
                        <div class="icon-font icon-font--chevron-up"></div>
                        <div class="icon-font icon-font--chevron-down"></div>
                        <div class="icon-font icon-font--retweet"></div>
                        <div class="icon-font icon-font--shopping-cart"></div>
                        <div class="icon-font icon-font--folder-close"></div>
                        <div class="icon-font icon-font--folder-open"></div>
                        <div class="icon-font icon-font--resize-vertical"></div>
                        <div class="icon-font icon-font--resize-horizontal"></div>
                        <div class="icon-font icon-font--bar-chart"></div>
                        <div class="icon-font icon-font--twitter-sign"></div>
                        <div class="icon-font icon-font--facebook-sign"></div>
                        <div class="icon-font icon-font--camera-retro"></div>
                        <div class="icon-font icon-font--key"></div>
                        <div class="icon-font icon-font--gears"></div>
                        <div class="icon-font icon-font--cogs"></div>
                        <div class="icon-font icon-font--comments"></div>
                        <div class="icon-font icon-font--thumbs-up-alt"></div>
                        <div class="icon-font icon-font--thumbs-down-alt"></div>
                        <div class="icon-font icon-font--star-half"></div>
                        <div class="icon-font icon-font--heart-empty"></div>
                        <div class="icon-font icon-font--signout"></div>
                        <div class="icon-font icon-font--linkedin-sign"></div>
                        <div class="icon-font icon-font--pushpin"></div>
                        <div class="icon-font icon-font--external-link"></div>
                        <div class="icon-font icon-font--signin"></div>
                        <div class="icon-font icon-font--trophy"></div>
                        <div class="icon-font icon-font--github-sign"></div>
                        <div class="icon-font icon-font--upload-alt"></div>
                        <div class="icon-font icon-font--lemon"></div>
                        <div class="icon-font icon-font--phone"></div>
                        <div class="icon-font icon-font--unchecked"></div>
                        <div class="icon-font icon-font--check-empty"></div>
                        <div class="icon-font icon-font--bookmark-empty"></div>
                        <div class="icon-font icon-font--phone-sign"></div>
                        <div class="icon-font icon-font--twitter"></div>
                        <div class="icon-font icon-font--facebook"></div>
                        <div class="icon-font icon-font--github"></div>
                        <div class="icon-font icon-font--unlock"></div>
                        <div class="icon-font icon-font--credit-card"></div>
                        <div class="icon-font icon-font--rss"></div>
                        <div class="icon-font icon-font--hdd"></div>
                        <div class="icon-font icon-font--bullhorn"></div>
                        <div class="icon-font icon-font--bell"></div>
                        <div class="icon-font icon-font--certificate"></div>
                        <div class="icon-font icon-font--hand-right"></div>
                        <div class="icon-font icon-font--hand-left"></div>
                        <div class="icon-font icon-font--hand-up"></div>
                        <div class="icon-font icon-font--hand-down"></div>
                        <div class="icon-font icon-font--circle-arrow-left"></div>
                        <div class="icon-font icon-font--circle-arrow-right"></div>
                        <div class="icon-font icon-font--circle-arrow-up"></div>
                        <div class="icon-font icon-font--circle-arrow-down"></div>
                        <div class="icon-font icon-font--globe"></div>
                        <div class="icon-font icon-font--wrench"></div>
                        <div class="icon-font icon-font--tasks"></div>
                        <div class="icon-font icon-font--filter"></div>
                        <div class="icon-font icon-font--briefcase"></div>
                        <div class="icon-font icon-font--fullscreen"></div>
                        <div class="icon-font icon-font--group"></div>
                        <div class="icon-font icon-font--link"></div>
                        <div class="icon-font icon-font--cloud"></div>
                        <div class="icon-font icon-font--beaker"></div>
                        <div class="icon-font icon-font--cut"></div>
                        <div class="icon-font icon-font--copy"></div>
                        <div class="icon-font icon-font--paperclip"></div>
                        <div class="icon-font icon-font--paper-clip"></div>
                        <div class="icon-font icon-font--save"></div>
                        <div class="icon-font icon-font--sign-blank"></div>
                        <div class="icon-font icon-font--reorder"></div>
                        <div class="icon-font icon-font--list-ul"></div>
                        <div class="icon-font icon-font--list-ol"></div>
                        <div class="icon-font icon-font--strikethrough"></div>
                        <div class="icon-font icon-font--underline"></div>
                        <div class="icon-font icon-font--table"></div>
                        <div class="icon-font icon-font--magic"></div>
                        <div class="icon-font icon-font--truck"></div>
                        <div class="icon-font icon-font--pinterest"></div>
                        <div class="icon-font icon-font--pinterest-sign"></div>
                        <div class="icon-font icon-font--google-plus-sign"></div>
                        <div class="icon-font icon-font--google-plus"></div>
                        <div class="icon-font icon-font--money"></div>
                        <div class="icon-font icon-font--caret-down"></div>
                        <div class="icon-font icon-font--caret-up"></div>
                        <div class="icon-font icon-font--caret-left"></div>
                        <div class="icon-font icon-font--caret-right"></div>
                        <div class="icon-font icon-font--columns"></div>
                        <div class="icon-font icon-font--sort"></div>
                        <div class="icon-font icon-font--sort-down"></div>
                        <div class="icon-font icon-font--sort-up"></div>
                        <div class="icon-font icon-font--email"></div>
                        <div class="icon-font icon-font--envelope"></div>
                        <div class="icon-font icon-font--linkedin"></div>
                        <div class="icon-font icon-font--rotate-left"></div>
                        <div class="icon-font icon-font--undo"></div>
                        <div class="icon-font icon-font--legal"></div>
                        <div class="icon-font icon-font--dashboard"></div>
                        <div class="icon-font icon-font--comment-alt"></div>
                        <div class="icon-font icon-font--comments-alt"></div>
                        <div class="icon-font icon-font--bolt"></div>
                        <div class="icon-font icon-font--sitemap"></div>
                        <div class="icon-font icon-font--umbrella"></div>
                        <div class="icon-font icon-font--paste"></div>
                        <div class="icon-font icon-font--lightbulb"></div>
                        <div class="icon-font icon-font--exchange"></div>
                        <div class="icon-font icon-font--cloud-download"></div>
                        <div class="icon-font icon-font--cloud-upload"></div>
                        <div class="icon-font icon-font--user-md"></div>
                        <div class="icon-font icon-font--stethoscope"></div>
                        <div class="icon-font icon-font--suitcase"></div>
                        <div class="icon-font icon-font--bell-alt"></div>
                        <div class="icon-font icon-font--coffee"></div>
                        <div class="icon-font icon-font--food"></div>
                        <div class="icon-font icon-font--file-text-alt"></div>
                        <div class="icon-font icon-font--building"></div>
                        <div class="icon-font icon-font--hospital"></div>
                        <div class="icon-font icon-font--ambulance"></div>
                        <div class="icon-font icon-font--medkit"></div>
                        <div class="icon-font icon-font--fighter-jet"></div>
                        <div class="icon-font icon-font--beer"></div>
                        <div class="icon-font icon-font--h-sign"></div>
                        <div class="icon-font icon-font--plus-sign-alt"></div>
                        <div class="icon-font icon-font--double-angle-left"></div>
                        <div class="icon-font icon-font--double-angle-right"></div>
                        <div class="icon-font icon-font--double-angle-up"></div>
                        <div class="icon-font icon-font--double-angle-down"></div>
                        <div class="icon-font icon-font--angle-left"></div>
                        <div class="icon-font icon-font--angle-right"></div>
                        <div class="icon-font icon-font--angle-up"></div>
                        <div class="icon-font icon-font--angle-down"></div>
                        <div class="icon-font icon-font--desktop"></div>
                        <div class="icon-font icon-font--laptop"></div>
                        <div class="icon-font icon-font--tablet"></div>
                        <div class="icon-font icon-font--mobile-phone"></div>
                        <div class="icon-font icon-font--circle-blank"></div>
                        <div class="icon-font icon-font--quote-left"></div>
                        <div class="icon-font icon-font--quote-right"></div>
                        <div class="icon-font icon-font--spinner"></div>
                        <div class="icon-font icon-font--circle"></div>
                        <div class="icon-font icon-font--mail-reply"></div>
                        <div class="icon-font icon-font--reply"></div>
                        <div class="icon-font icon-font--github-alt"></div>
                        <div class="icon-font icon-font--folder-close-alt"></div>
                        <div class="icon-font icon-font--folder-open-alt"></div>
                        <div class="icon-font icon-font--expand-alt"></div>
                        <div class="icon-font icon-font--collapse-alt"></div>
                        <div class="icon-font icon-font--smile"></div>
                        <div class="icon-font icon-font--frown"></div>
                        <div class="icon-font icon-font--meh"></div>
                        <div class="icon-font icon-font--gamepad"></div>
                        <div class="icon-font icon-font--keyboard"></div>
                        <div class="icon-font icon-font--flag-alt"></div>
                        <div class="icon-font icon-font--flag-checkered"></div>
                        <div class="icon-font icon-font--terminal"></div>
                        <div class="icon-font icon-font--code"></div>
                        <div class="icon-font icon-font--reply-all"></div>
                        <div class="icon-font icon-font--mail-reply-all"></div>
                        <div class="icon-font icon-font--star-half-full"></div>
                        <div class="icon-font icon-font--star-half-empty"></div>
                        <div class="icon-font icon-font--location-arrow"></div>
                        <div class="icon-font icon-font--crop"></div>
                        <div class="icon-font icon-font--code-fork"></div>
                        <div class="icon-font icon-font--unlink"></div>
                        <div class="icon-font icon-font--question"></div>
                        <div class="icon-font icon-font--info"></div>
                        <div class="icon-font icon-font--exclamation"></div>
                        <div class="icon-font icon-font--superscript"></div>
                        <div class="icon-font icon-font--subscript"></div>
                        <div class="icon-font icon-font--eraser"></div>
                        <div class="icon-font icon-font--puzzle-piece"></div>
                        <div class="icon-font icon-font--microphone"></div>
                        <div class="icon-font icon-font--microphone-off"></div>
                        <div class="icon-font icon-font--shield"></div>
                        <div class="icon-font icon-font--calendar-empty"></div>
                        <div class="icon-font icon-font--fire-extinguisher"></div>
                        <div class="icon-font icon-font--rocket"></div>
                        <div class="icon-font icon-font--maxcdn"></div>
                        <div class="icon-font icon-font--chevron-sign-left"></div>
                        <div class="icon-font icon-font--chevron-sign-right"></div>
                        <div class="icon-font icon-font--chevron-sign-up"></div>
                        <div class="icon-font icon-font--chevron-sign-down"></div>
                        <div class="icon-font icon-font--html5"></div>
                        <div class="icon-font icon-font--css3"></div>
                        <div class="icon-font icon-font--anchor"></div>
                        <div class="icon-font icon-font--unlock-alt"></div>
                        <div class="icon-font icon-font--bullseye"></div>
                        <div class="icon-font icon-font--ellipsis-horizontal"></div>
                        <div class="icon-font icon-font--ellipsis-vertical"></div>
                        <div class="icon-font icon-font--rss-sign"></div>
                        <div class="icon-font icon-font--play-sign"></div>
                        <div class="icon-font icon-font--ticket"></div>
                        <div class="icon-font icon-font--minus-sign-alt"></div>
                        <div class="icon-font icon-font--check-minus"></div>
                        <div class="icon-font icon-font--level-up"></div>
                        <div class="icon-font icon-font--level-down"></div>
                        <div class="icon-font icon-font--check-sign"></div>
                        <div class="icon-font icon-font--edit-sign"></div>
                        <div class="icon-font icon-font--external-link-sign"></div>
                        <div class="icon-font icon-font--share-sign"></div>
                        <div class="icon-font icon-font--compass"></div>
                        <div class="icon-font icon-font--collapse"></div>
                        <div class="icon-font icon-font--collapse-top"></div>
                        <div class="icon-font icon-font--expand"></div>
                        <div class="icon-font icon-font--euro"></div>
                        <div class="icon-font icon-font--eur"></div>
                        <div class="icon-font icon-font--gbp"></div>
                        <div class="icon-font icon-font--dollar"></div>
                        <div class="icon-font icon-font--usd"></div>
                        <div class="icon-font icon-font--rupee"></div>
                        <div class="icon-font icon-font--inr"></div>
                        <div class="icon-font icon-font--yen"></div>
                        <div class="icon-font icon-font--jpy"></div>
                        <div class="icon-font icon-font--renminbi"></div>
                        <div class="icon-font icon-font--cny"></div>
                        <div class="icon-font icon-font--won"></div>
                        <div class="icon-font icon-font--krw"></div>
                        <div class="icon-font icon-font--bitcoin"></div>
                        <div class="icon-font icon-font--btc"></div>
                        <div class="icon-font icon-font--file"></div>
                        <div class="icon-font icon-font--file-text"></div>
                        <div class="icon-font icon-font--sort-by-alphabet"></div>
                        <div class="icon-font icon-font--sort-by-alphabet-alt"></div>
                        <div class="icon-font icon-font--sort-by-attributes"></div>
                        <div class="icon-font icon-font--sort-by-attributes-alt"></div>
                        <div class="icon-font icon-font--sort-by-order"></div>
                        <div class="icon-font icon-font--sort-by-order-alt"></div>
                        <div class="icon-font icon-font--thumbs-up"></div>
                        <div class="icon-font icon-font--thumbs-down"></div>
                        <div class="icon-font icon-font--youtube-sign"></div>
                        <div class="icon-font icon-font--youtube"></div>
                        <div class="icon-font icon-font--xing"></div>
                        <div class="icon-font icon-font--xing-sign"></div>
                        <div class="icon-font icon-font--youtube-play"></div>
                        <div class="icon-font icon-font--dropbox"></div>
                        <div class="icon-font icon-font--stackexchange"></div>
                        <div class="icon-font icon-font--instagram"></div>
                        <div class="icon-font icon-font--flickr"></div>
                        <div class="icon-font icon-font--adn"></div>
                        <div class="icon-font icon-font--bitbucket"></div>
                        <div class="icon-font icon-font--bitbucket-sign"></div>
                        <div class="icon-font icon-font--tumblr"></div>
                        <div class="icon-font icon-font--tumblr-sign"></div>
                        <div class="icon-font icon-font--long-arrow-down"></div>
                        <div class="icon-font icon-font--long-arrow-up"></div>
                        <div class="icon-font icon-font--long-arrow-left"></div>
                        <div class="icon-font icon-font--long-arrow-right"></div>
                        <div class="icon-font icon-font--apple"></div>
                        <div class="icon-font icon-font--windows"></div>
                        <div class="icon-font icon-font--android"></div>
                        <div class="icon-font icon-font--linux"></div>
                        <div class="icon-font icon-font--dribbble"></div>
                        <div class="icon-font icon-font--skype"></div>
                        <div class="icon-font icon-font--foursquare"></div>
                        <div class="icon-font icon-font--trello"></div>
                        <div class="icon-font icon-font--female"></div>
                        <div class="icon-font icon-font--male"></div>
                        <div class="icon-font icon-font--gittip"></div>
                        <div class="icon-font icon-font--sun"></div>
                        <div class="icon-font icon-font--moon"></div>
                        <div class="icon-font icon-font--archive"></div>
                        <div class="icon-font icon-font--bug"></div>
                        <div class="icon-font icon-font--vk"></div>
                        <div class="icon-font icon-font--weibo"></div>
                        <div class="icon-font icon-font--renren"></div>

                    </div>
                </div>
            </div>

        {% endblock %}
