<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#21252b">
        <title>{{ meta.title }}</title>

        {% include "styleguide/includes/headerscripts.html" %}
    </head>
    <body>
        {% if stylesheets | length > 1 %}
        {% include "styleguide/includes/stylesheet-switcher.html" %}
        {% endif %}

        {% block content %} {% endblock %}

        {% include "styleguide/includes/footerscripts.html" %}
    </body>
</html>
