.header {
    height: 50px;
    position: relative;
    background-color: $brand-primary;0
    // background-color: $color-white;
    color: $color-bright-gray;

    &__logo {
        width: 100px;
        height: 39/144 * 100px;
        // width: 7em;
        margin-left: 0 !important;
        margin-right: 3em;

        img {
            @include align-vertical(absolute);
            width: 100px;
            height: 39/144 * 100px;
        }
    }

        
    .navbar {
        // border: none;
        border-radius: 0;
        
        &__standard-menu {
            opacity: 0;

            a:hover {
                background-color: $color-seashell;
            }
        }

        &__more-menu {
            display: none;
        }
    }

    .nav {
        li a {
            color: $color-bright-gray;
            font-weight: 600;            
            // color: white;
        }
        
        .header-button {
        }
        
        li a:hover, 
        li a:focus {
            // background: $color-bright-gray;
        }

        // make instead of <li>, an :after class of the following code
        &__divider-vertical {
            width: 1px;
            height: 49.18px;
            background-color: rgba(0, 0, 0, .5);
            padding-left: 1px;
            border-right: solid;
            border-color: rgba(255, 255, 255, .5);
            border-width: 0 1px;
        }
    
    }

    .dropdown {
        &__dropdown-icon {
            margin: 0 0 5px 5px;
        }
        &__more-button {
            // margin: 0;
            // border-bottom: 1px solid $color-submarine;
            // width: 20em;
            // font-size: .875em;
            // font-size: 14px;
            
            a {
                // padding: .5em 1.5em;
                // background: $color-oslo-gray;
            }
            
            a:hover {
                // background: $color-bright-gray;
            }
        }
        
        ul.dropdown-menu {
            padding: 0;
        }
    }
}
