.header {
    // background-color: $color-blaze-orange;

    &__logo-bg {
        background: linear-gradient($color-white, #dddee3);
    }

    &__logo {
        height: 100%;
        max-width: 100%;
        padding: 1.5em .75em 1.5em;
    }

        
    .navbar {
        background: linear-gradient($color-oslo-gray, $color-bright-gray);
        color: white;
        border: none;
        border-radius: 0;
    }
        .nav {
            li a {
                background: linear-gradient($color-oslo-gray, $color-bright-gray);
                color: white;
            }

            &__divider-vertical {
                width: 1px;
                height: 49.18px;
                background-color: rgba(0, 0, 0, .5);
                padding-left: 1px;
                border-right: solid;
                border-color: rgba(255, 255, 255, .5);
                border-width: 0 1px;
            }

            .dropdown {
                // display: none;
            }
        }
}
