{% if extends %}{% extends "styleguide/includes/layout.html" %}{% endif %}

    {% block content %}
    {% if name %}{% include "styleguide/includes/moduleinfo.html" %}{% endif %}

	<div class="container-fluid">
		<div class="container">
			<header class="header js-header">
				<nav class="navbar">

					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand header__logo" href="#">
							<img alt="Brand" src="/assets/img/logo.png">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar__standard-menu">
							<!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
							<li class="dropdown">
								<a href="#" class="menu-item" data-toggle="dropdown" role="button">About DAF<span class="dropdown__dropdown-icon caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">DAF Trucks N.V.</a></li>
									<li><a href="#">DAF Worldwide</a></li>
									<li><a href="#">PACCAR Inc.</a></li>
									<li><a href="#">DAF History</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="dropdown__dropdown-icon caret"></span></a>
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<a href="#" class="menu-item--first-level">Euro 6 model range<span class="icon icon__font icon__font--angle-right"></span></a>
										<ul class="dropdown-menu">
											<li><a href="#">Euro 6 model range</a></li>
											<li><a href="#">Euro 6 model range</a></li>
											<li><a href="#">DAF components</a></li>
											<li><a href="#">DAF Used Trucks</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="#" class="menu-item--first-level">Euro 5 model<span class="icon icon__font icon__font--angle-right"></span></a>
										<ul class="dropdown-menu">
											<li><a href="#">Euro 5 model range</a></li>
											<li><a href="#">Euro 5 model range</a></li>
											<li><a href="#">DAF components</a></li>
											<li><a href="#">DAF Used Trucks</a></li>
										</ul>
									</li>
									<li><a href="#">DAF components</a></li>
									<li><a href="#">DAF Used Trucks</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="dropdown__dropdown-icon caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">DAF Connect form</a></li>
									<li><a href="#">Find your Manual</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News & Media<span class="dropdown__dropdown-icon caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">DAF Connect form</a></li>
									<li><a href="#">Find your Manual</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Working at DAF<span class="dropdown__dropdown-icon caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">DAF Connect form</a></li>
									<li><a href="#">Find your Manual</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>


		<!--<nav class="navbar">
			<div class="container-fluid">
				<div class="container">

					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav js-calculate-width navbar__standard-menu">
							<li class="nav__divider-vertical"></li> 
							<li class="header-button"><a href="#"><strong>The new DAF Truck</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li class="header-button"><a href="#"><strong>Accordion</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li class="header-button"><a href="#"><strong>TEC</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li class="header-button"><a href="#"><strong>DAF Connect form</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li class="header-button"><a href="#"><strong>Find your Manual</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li class="header-button"><a href="#"><strong>News &#38; Media</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li class="header-button"><a href="#"><strong>Online Truck Configurator</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li class="header-button"><a href="#"><strong>PACCAR Parts</strong></a></li>
							<li class="nav__divider-vertical"></li>
						</ul>
					</div>-->

					<!--<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar__more-menu">
							<li class="nav__divider-vertical"></li>
							<li><a href="#"><strong>The new DAF Truck</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li><a href="#"><strong>Accordion</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li><a href="#"><strong>TEC</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>More</strong><span class="dropdown__dropdown-icon caret"></span></a>
								<ul class="dropdown-menu">
									<li class="dropdown__more-button"><a href="#">DAF Connect form</a></li>
									<li class="dropdown__more-button"><a href="#">Find your Manual</a></li>
									<li class="dropdown__more-button"><a href="#">News &#38; Media</a></li>
									<li class="dropdown__more-button"><a href="#">Online Truck Configurator</a></li>
									<li class="dropdown__more-button"><a href="#">PACCAR Parts</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>-->

	</header>

	{% endblock %}
