{% if extends %}{% extends "styleguide/includes/layout.html" %}{% endif %}

    {% block content %}
    {% if name %}{% include "styleguide/includes/moduleinfo.html" %}{% endif %}

	<header class="header js-header">
		<div class="container-fluid header__logo-bg">
			<div class="container">
				<img class="header__logo" alt="DAF logo" src="/assets/img/logo.png">
			</div>
		</div>
		<nav class="navbar">
			<div class="container-fluid">
				<div class="container">

					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="nav__divider-vertical"></li>
							<li><a href="#"><strong>The new DAF Truck</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li><a href="#"><strong>Accordion</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li><a href="#"><strong>TEC</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li><a href="#"><strong>DAF Connect form</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li><a href="#"><strong>Find your Manual</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li><a href="#"><strong>News &#38; Media</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li><a href="#"><strong>Online Truck Configurator</strong></a></li>
							<li class="nav__divider-vertical"></li>
							<li><a href="#"><strong>PACCAR Parts</strong></a></li>
							<li class="nav__divider-vertical"></li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">DAF Connect form</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Find your Manual</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">News &#38; Media</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Online Truck Configurator</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">PACCAR Parts</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

	</header>

	{% endblock %}
