$height: 500px;

.storelocator {
    position: relative;
    width: 100%;
    overflow: hidden;

    &__results {
        position: relative;
        width: 350px;
        height: $height;
        display: block;
        float: left;
    }

    &__map {
        position: relative;
        width: 880px;
        height: $height;
        display: block;
        float: left;
    }
}
