.styleguide {

    &__heading {
        margin: 0;
        padding: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        color: #000;
        line-height: 1.2;

        &--title {
            font-size: 24px;
        }
        &--modulename {
            font-size: 24px;
        }
        &--section {
            margin-bottom: 10px;
            font-size: 18px;
        }
        &--subtitle,
        &--moduletype {
            font-size: 14px;
        }
        &--subtitle,
        &--modulename {
            margin-bottom: 30px;
        }
    }

    &__listing {
        margin-bottom: 30px;
    }
}