.styleguide {

    &__heading {
        &--modulename {
            font-size: 24px;
            &:after {
                display: none;
            }
        }
        &--section {
            margin-bottom: 10px;
            font-size: 18px;
        }
        &--subtitle,
        &--moduletype {
            font-size: 14px;
        }
        &--subtitle,
        &--modulename {
            margin-bottom: 30px;
        }

        &--moduletype {
            margin-top: 10px;
        }

        &--moduletype,
        &--modulename {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__listing {
        margin-bottom: 30px;
    }
}
