.styleguide {

    &__heading {
        &--modulename {
            font-size: 24px;
            &:after {
                display: none;
            }
        }
        &--section {
            margin-bottom: 10px;
            font-size: 18px;
        }
        &--subtitle,
        &--moduletype {
            font-size: 14px;
        }
        &--subtitle,
        &--modulename {
            margin-bottom: 30px;
        }

        &--moduletype {
            margin-top: 10px;
        }

        &--moduletype,
        &--modulename {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__listing {
        margin-bottom: 30px;
    }


    &__color {
        position: relative;
        width: 100%;
        @include ratio-box(16/9);

        &--blaze-orange {
            background-color: $color-blaze-orange;
        }
        &--endeavor {
            background-color: $color-endeavour;
        }
        &--jelly-bean {
            background-color: $color-jelly-bean;
        }
        &--polo-blue {
            background-color: $color-polo-blue;
        }
        &--crimson {
            background-color: $color-crimson;
        }
        &--jewel {
            background-color: $color-jewel;
        }
        &--nevada {
            background-color: $color-nevada;
        }
        &--seashell {
            background-color: $color-seashell;
        }
        &--submarine {
            background-color: $color-submarine;
        }
        &--oslo-gray {
            background-color: $color-oslo-gray;
        }
        &--bright-gray {
            background-color: $color-bright-gray;
        }
        &--shark {
            background-color: $color-shark;
        }
    }
}
