{% if extends %}{% extends "styleguide/includes/layout.html" %}{% endif %}

        {% block content %}
        {% include "styleguide/includes/moduleinfo.html" %}

        <div class="container-fluid">
            <div class="container hmaps js-heremaps" data-mapcenter="52.1222199,5.8124888" data-markerpos="52.1222199,5.8124888" data-zoomlevel="4">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="gmaps__map map">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid spacer spacer--medium"></div>

        <div class="container-fluid">
            <div class="container hmaps js-custom-heremaps">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="gmaps__map map">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
