{% if extends %}{% extends "styleguide/includes/layout.html" %}{% endif %}

        {% block content %}
        {% include "styleguide/includes/moduleinfo.html" %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">

                    <button name="test" class="btn btn--lg btn__primary"><svg class="icon icon--first"><use xlink:href="#ui-star" /></svg>primary button large</button>
                    <button name="test" name="test" class="btn btn__primary"><div class="icon icon__font icon__font--envelope-alt icon--first"></div>primary button normal</button>
                    <a href="#" class="btn btn--sm btn__primary"><svg class="icon icon--first"><use xlink:href="#ui-star" /></svg>primary button small</a>

                </div>
                <div class="col-xs-12 col-sm-4">

                    <button name="test" class="btn btn--lg btn__ghost"><svg class="icon icon--first"><use xlink:href="#ui-star" /></svg>ghost button large</button>
                    <button name="test" class="btn btn__ghost"><div class="icon icon__font icon__font--envelope-alt icon--first"></div>ghost buton normal</button>
                    <a href="#" class="btn btn--sm btn__ghost">ghost button small</a>

                </div>
                <div class="col-xs-12 col-sm-4">

                    <button name="test" class="btn btn--lg btn__ghost btn__ghost--blue"><svg class="icon icon--first"><use xlink:href="#ui-star" /></svg>ghost button large blue</button>
                    <button name="test" class="btn btn__ghost btn__ghost--blue"><div class="icon icon__font icon__font--envelope-alt icon--first"></div>ghost button normal blue</button>
                    <a href="#" class="btn btn--sm btn__ghost btn__ghost--blue"><div class="icon icon__font icon__font--headphones icon--first"></div>ghost button small blue</a>

                </div>
            </div>
        </div>

        <div class="container-fluid spacer spacer--medium"></div>

        <div class="container bg bg--light">
            <div class="row">
                <div class="col-xs-12 col-sm-4">

                    <button name="test" class="btn btn--lg btn__primary">primary button large</button>
                    <input type="button" name="test" class="btn btn__primary" value="primary button normal" />
                    <a href="#" class="btn btn--sm btn__primary">primary button small</a>

                </div>
                <div class="col-xs-12 col-sm-4">

                    <button name="test" class="btn btn--lg btn__ghost">ghost button large</button>
                    <input type="button" name="test" class="btn btn__ghost" value="ghost normal" />
                    <a href="#" class="btn btn--sm btn__ghost">ghost button small</a>

                </div>
                <div class="col-xs-12 col-sm-4">

                    <button name="test" class="btn btn--lg btn__ghost btn__ghost--blue">ghost button large blue</button>
                    <input type="button" name="test" class="btn btn__ghost btn__ghost--blue" value="ghost button normal blue" />
                    <a href="#" class="btn btn--sm btn__ghost btn__ghost--blue">ghost button small blue</a>

                </div>
            </div>
        </div>

        <div class="container-fluid spacer spacer--medium"></div>

        <div class="container bg bg--dark">
            <div class="row">
                <div class="col-xs-12 col-sm-4">

                    <button name="test" class="btn btn--lg btn__primary">primary button large</button>
                    <input type="button" name="test" class="btn btn__primary" value="primary button normal" />
                    <a href="#" class="btn btn--sm btn__primary">primary button small</a>

                </div>
                <div class="col-xs-12 col-sm-4">

                    <button name="test" class="btn btn--lg btn__ghost"><svg class="icon icon--first"><use xlink:href="#ui-close" /></svg>ghost button large</button>
                    <button name="test" class="btn btn__ghost btn__ghost--light"><div class="icon icon__font icon__font--headphones icon--first"></div>ghost normal light</button>
                    <a href="#" class="btn btn--sm btn__ghost">ghost button small</a>

                </div>
                <div class="col-xs-12 col-sm-4">

                    <button name="test" class="btn btn--lg btn__ghost btn__ghost--blue"><svg class="icon icon--first"><use xlink:href="#ui-close" /></svg>ghost button large blue</button>
                    <input type="button" name="test" class="btn btn__ghost btn__ghost--blue" value="ghost button normal blue" />
                    <a href="#" class="btn btn--sm btn__ghost btn__ghost--blue"><div class="icon icon__font icon__font--headphones icon--first"></div>ghost button small blue</a>

                </div>
            </div>
        </div>

        <div class="container-fluid spacer spacer--medium"></div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="#" class="btn btn--lg btn__link">large link button<svg class="icon icon--last"><use xlink:href="#ui-plus" /></svg></a>
                    <a href="#" class="btn btn__link">normal link button<svg class="icon icon--last"><use xlink:href="#ui-plus" /></svg></a>
                    <a href="#" class="btn btn--sm btn__link">small link button<svg class="icon icon--last"><use xlink:href="#ui-plus" /></svg></a>
                </div>
                <div class="col-xs-12 col-sm-4 bg bg--light">
                    <a href="#" class="btn btn--lg btn__link">large link button<svg class="icon icon--last"><use xlink:href="#ui-plus" /></svg></a>
                    <a href="#" class="btn btn__link">normal link button<svg class="icon icon--last"><use xlink:href="#ui-plus" /></svg></a>
                    <a href="#" class="btn btn--sm btn__link">small link button<svg class="icon icon--last"><use xlink:href="#ui-plus" /></svg></a>
                </div>
                <div class="col-xs-12 col-sm-4 bg bg--dark">
                    <a href="#" class="btn btn--lg btn__link">large link button<svg class="icon icon--last"><use xlink:href="#ui-plus" /></svg></a>
                    <a href="#" class="btn btn__link">normal link button<svg class="icon icon--last"><use xlink:href="#ui-plus" /></svg></a>
                    <a href="#" class="btn btn--sm btn__link">small link button<svg class="icon icon--last"><use xlink:href="#ui-plus" /></svg></a>
                </div>
            </div>
        </div>

        {% endblock %}
