{% if extends %}{% extends "styleguide/includes/layout.html" %}{% endif %}

        {% block content %}
        {% include "styleguide/includes/moduleinfo.html" %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Typographic scale for web typography</h1>
                </div>
                <div class="col-xs-12">
                    <h2>Typographic scale for web typography</h2>
                </div>
                <div class="col-xs-12">
                    <h3>Typographic scale for web typography</h3>
                </div>
                <div class="col-xs-12">
                    <h4>Typographic scale for web typography</h4>
                </div>
                <div class="col-xs-12">
                    <h5>Typographic scale for web typography</h5>
                </div>
                <div class="col-xs-12">
                    <h6>Typographic scale for web typography</h6>
                </div>
                <div class="col-xs-12">
                    <p>The quick brown fox jumped over the lazy dog. 1234567890.</p>
                    <p class="text--medium">The quick brown fox jumped over the lazy dog. 1234567890.</p>
                    <p class="text--bold">The quick brown fox jumped over the lazy dog. 1234567890.</p>
                    <p class="text--bold-condensed">The quick brown fox jumped over the lazy dog. 1234567890.</p>
                </div>
            </div>
        </div>
        {% endblock %}
