{% if extends %}{% extends "styleguide/includes/layout.html" %}{% endif %}

        {% block content %}
        {% include "styleguide/includes/moduleinfo.html" %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Typographic scale for web typography</h1>
                </div>
                <div class="col-xs-12">
                    <h2 class="heading heading--subheading">Typographic scale for web typography</h2>
                </div>
                <div class="col-xs-12">
                    <h2>Typographic scale for web typography</h2>
                </div>
                <div class="col-xs-12">
                    <h3>Typographic scale for web typography</h3>
                </div>
                <div class="col-xs-12">
                    <h4>Typographic scale for web typography</h4>
                </div>
                <div class="col-xs-12">
                    <h5>Typographic scale for web typography</h5>
                </div>
                <div class="col-xs-12">
                    <h6>Typographic scale for web typography</h6>
                </div>
                <div class="col-xs-12">
                    <p>The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non <strong>est tincidunt placerat</strong>. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>

                    <p>The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non <strong>est tincidunt placerat</strong>. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>
                </div>
                <div class="col-xs-12">
                    <p class="text--medium">The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non est tincidunt placerat. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>
                </div>
                <div class="col-xs-12">
                    <p class="text--bold">The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non est tincidunt placerat. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>
                </div>
                <div class="col-xs-12">
                    <p class="text--bold-condensed">The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non est tincidunt placerat. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>
                </div>
                <div class="col-xs-12">
                    <p class="text--larger">The quick brown fox jumped over the lazy dog. 1234567890. Nunc ut lorem non est tincidunt placerat. Etiam interdum enim eget mauris rhoncus accumsan. Curabitur vulputate tempus tempor. Quisque elementum consectetur odio in porttitor. Nulla tempor turpis in nisl fringilla, at posuere purus suscipit. Curabitur sagittis est nibh, at elementum ligula viverra vel. Ut id sapien in odio varius iaculis. Phasellus aliquet urna turpis. Phasellus consequat suscipit ex, in vehicula nibh tristique quis. Maecenas at est sed lorem imperdiet ultricies. Proin in sapien sagittis, vestibulum nunc eget, vehicula felis. Ut sagittis consequat tincidunt. Morbi eu nisl enim. Suspendisse tempus, mauris non porttitor sagittis, mauris urna porta ante, sit amet lacinia libero mauris in nibh.</p>
                </div>
            </div>
        </div>
        {% endblock %}
