.btn {
    position: relative;
    margin-bottom: 15px;
    padding: 11px 20px;
    font-size: 14px;
    font-weight: 500;
    @include line-height(16px, 14px);
    min-height: 40px;
    white-space: normal;
    outline: none !important;

    .icon {
        width: 16px;
        height: 16px;
        vertical-align: sub;

        &--first {
            margin-right: 10px;
        }

        &--last {
            margin-left: 8px;
        }

        @media(min-width: $sm) {
            width: 25px;
            height: 25px;
            vertical-align: text-bottom;

            &--first {
                margin-right: 20px;
            }

            &--last {
                margin-left: 10px;
            }
        }
    }

    &-sm, &--sm {
        padding: 9px 20px 7px 20px;
        min-height: 34px;
    }

    &-lg, &--lg {
        padding: 16px 20px;
        min-height: 50px;
    }

    @media (min-width: $sm) {
        margin-bottom: 20px;
        padding: 10px 30px;
        font-size: 20px;
        @include line-height(32px, 20px);
        min-height: 54px;

        &-sm, &--sm {
            padding: 12px 20px 11px 20px;
            font-size: 16px;
            @include line-height(20px, 16px);
            min-height: 45px;

            .icon {
                width: 20px;
                height: 20px;
            }
        }

        &-lg, &--lg {
            padding: 15px 30px;
            min-height: 64px;
        }
    }

    &.active, &:active {
        box-shadow: none;
    }

    &.hover, &:hover {
        color: #ffffff;
    }

    &__link {
        padding-left: 0;
        padding-right: 0;
        background: transparent;
        color: $link-color;

        &.hover, &:hover {
            color: $link-color;
        }

        &.active, &:active, &.focus, &:focus {
            color: $link-color;
        }

        .icon {
            fill: $link-color;
        }
    }

    &__primary {
        color: #ffffff;
        @include simple-gradient($color-brand-jelly-bean, $color-brand-endeavour);

        &.active, &:active, &.focus, &:focus {
            color: #ffffff;
            @include simple-gradient($color-brand-jelly-bean, $color-brand-endeavour);
        }

        .icon {
            fill: #ffffff;
        }
    }

    &__ghost {
        border: 1px solid $color-submarine;
        color: $color-bright-gray;
        background: transparent;

        &.hover, &:hover {
            color: $color-bright-gray;
            background-color: rgba($color-bright-gray, .1);
        }

        &.active, &:active, &.focus, &:focus {
            color: $color-bright-gray;
        }

        .icon {
            fill: $color-bright-gray;
        }

        &--light {
            color: #ffffff;
            border-color: #ffffff;

            &.hover, &:hover {
                background-color: rgba(#ffffff, .1);
                color: #ffffff;

                &.focus, &:focus {
                    color: #ffffff;

                    .icon {
                        fill: #ffffff;
                    }
                }

                .icon {
                    fill: #ffffff;
                }
            }

            &.active, &:active {
                background-color: rgba(#ffffff, .1);
                color: #ffffff;

                &.focus, &:focus {
                    color: #ffffff;

                    .icon {
                        fill: #ffffff;
                    }
                }

                .icon {
                    fill: #ffffff;
                }
            }

            &.focus, &:focus {
                color: #ffffff;
            }

            .icon {
                fill: #ffffff;
            }
        }

        &--blue {
            border-color: $color-brand-endeavour;
            color: $color-brand-endeavour;

            &.hover, &:hover {
                color: #ffffff;
                @include simple-gradient($color-brand-jelly-bean, $color-brand-endeavour);

                &.focus, &:focus {
                    color: #ffffff;

                    .icon {
                        fill: #ffffff;
                    }
                }

                .icon {
                    fill: #ffffff;
                }
            }

            &.active, &:active {
                color: #ffffff;
                @include simple-gradient($color-brand-jelly-bean, $color-brand-endeavour);

                &.focus, &:focus {
                    color: #ffffff;

                    .icon {
                        fill: #ffffff;
                    }
                }

                .icon {
                    fill: #ffffff;
                }
            }

            &.focus, &:focus {
                color: $color-brand-endeavour;
            }

            .icon {
                fill: $color-brand-endeavour;
            }
        }
    }
}

.bg {
    &--dark {
        .btn {
            &__link {
                color: #ffffff;

                .icon {
                    fill: #ffffff;
                }
            }
            &__ghost {
                color: #ffffff;
                border-color: #ffffff;

                &.hover, &:hover {
                    background-color: rgba(#ffffff, .1);
                }

                .icon {
                    fill: #ffffff;
                }

                &--blue {
                    &.hover, &:hover, &.active, &:active {
                        border-color: $color-brand-endeavour;
                    }
                }
            }
        }
    }
}
