
h1, .h1 {
    font-size: 42px;
    font-weight: 700;
    @include line-height(48px, 42px);

    @media(min-width: $sm) {
        font-size: 70px;
        @include line-height(48px, 70px);
    }
}

h2, .h2 {
    font-size: 24px;
    font-weight: 700;
    @include line-height(24px, 24px);

    @media(min-width: $sm) {
        font-size: 40px;
        @include line-height(40px, 40px);
    }
}

h3, .h3 {
    font-size: 18px;
    font-weight: 500;
    @include line-height(20px, 18px);

    @media(min-width: $sm) {
        font-size: 24px;
        @include line-height(30px, 24px);
    }
}

h4, .h4 {
    font-size: 16px;
    font-weight: 500;
    @include line-height(20px, 16px);

    @media(min-width: $sm) {
        font-size: 18px;
        @include line-height(28px, 18px);
    }
}

h5, .h5 {
    font-size: 16px;
    font-weight: 400;
    @include line-height(23px, 16px);

    @media(min-width: $sm) {
        font-size: 16px;
        @include line-height(24px, 16px);
    }
}

h6, .h6 {
    font-size: 14px;
    font-weight: 400;
    @include line-height(22px, 14px);

    @media(min-width: $sm) {
        font-size: 16px;
        @include line-height(21px, 16px);
    }
}

p {
    font-size: 12px;
    font-weight: 400;
    @include line-height(16px, 12px);

    @media(min-width: $sm) {
        font-size: 14px;
        @include line-height(22px, 14px);
    }
}
