/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/304de6");

// normal, roman
@font-face {
    font-family: 'HelveticaNeueLTW1G';
    src:    url('../assets/fonts/HelveticaNeueLTW1G/304DE6_1_0-lining.woff2') format('woff2'),
            url('../assets/fonts/HelveticaNeueLTW1G/304DE6_1_0-lining.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

// medium
@font-face {
    font-family: 'HelveticaNeueLTW1G';
    src:    url('../assets/fonts/HelveticaNeueLTW1G/304DE6_2_0-lining.woff2') format('woff2'),
            url('../assets/fonts/HelveticaNeueLTW1G/304DE6_2_0-lining.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

// bold
@font-face {
    font-family: 'HelveticaNeueLTW1G';
    src:    url('../assets/fonts/HelveticaNeueLTW1G/304DE6_0_0-lining.woff2') format('woff2'),
            url('../assets/fonts/HelveticaNeueLTW1G/304DE6_0_0-lining.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// bold condensed
@font-face {
    font-family: 'HelveticaNeueLTW1G-Condensed';
    src:    url('../assets/fonts/HelveticaNeueLTW1G/304DE6_3_0-lining.woff2') format('woff2'),
            url('../assets/fonts/HelveticaNeueLTW1G/304DE6_3_0-lining.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// font awesome
@font-face {
    font-family: 'FontAwesome';
    src:    url('../assets/fonts/FontAwesome/fontawesome-webfont.woff2?v=3.2.1') format('woff2'),
            url('../assets/fonts/FontAwesome/fontawesome-webfont.woff?v=3.2.1') format('woff');
    font-weight: 400;
    font-style: normal;
}
