.container {
    padding-left: 30px;
    padding-right: 30px;

    @media(min-width: $sm) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .row {
        &.nogutters {
            // sass-lint:disable force-pseudo-nesting
            > [class^=col-]:not(:first-child):not(:last-child) {
                padding-left: 0;
                padding-right: 0;
            }
            // sass-lint:disable force-pseudo-nesting

            > [class^=col-] {
                &:first-child {
                    padding-right: 0;
                }

                &:last-child {
                    padding-left: 0;
                }
            }
        }
    }
}

.nogutters {
    padding-left: 0;
    padding-right: 0;
}
