.icon {
    width: 20px;
    height: 20px;
    fill: $text-color;

    @media(min-width: $sm) {
        width: 25px;
        height: 25px;
    }

    &__font {
        font-family: $icon-font-family;
        font-weight: normal;
        line-height: 0.9;
        vertical-align: middle !important;
        display: inline-block;

        &--glass:before {
            content: ""}
        &--music:before {
            content: ""}
        &--search:before {
            content: ""}
        &--email-alt:before,
        &--envelope-alt:before {
            content: ""}
        &--heart:before {
            content: ""}
        &--star:before {
            content: ""}
        &--star-empty:before {
            content: ""}
        &--user:before {
            content: ""}
        &--film:before {
            content: ""}
        &--th-large:before {
            content: ""}
        &--th:before {
            content: ""}
        &--th-list:before {
            content: ""}
        &--ok:before {
            content: ""}
        &--remove:before {
            content: ""}
        &--zoom-in:before {
            content: ""}
        &--zoom-out:before {
            content: ""}
        &--power-off:before,
        &--off:before {
            content: ""}
        &--signal:before {
            content: ""}
        &--gear:before,
        &--cog:before {
            content: ""}
        &--trash:before {
            content: ""}
        &--home:before {
            content: ""}
        &--file-alt:before {
            content: ""}
        &--time:before {
            content: ""}
        &--road:before {
            content: ""}
        &--download-alt:before {
            content: ""}
        &--download:before {
            content: ""}
        &--upload:before {
            content: ""}
        &--inbox:before {
            content: ""}
        &--play-circle:before {
            content: ""}
        &--rotate-right:before,
        &--repeat:before {
            content: ""}
        &--refresh:before {
            content: ""}
        &--list-alt:before {
            content: ""}
        &--lock:before {
            content: ""}
        &--flag:before {
            content: ""}
        &--headphones:before {
            content: ""}
        &--volume-off:before {
            content: ""}
        &--volume-down:before {
            content: ""}
        &--volume-up:before {
            content: ""}
        &--qrcode:before {
            content: ""}
        &--barcode:before {
            content: ""}
        &--tag:before {
            content: ""}
        &--tags:before {
            content: ""}
        &--book:before {
            content: ""}
        &--bookmark:before {
            content: ""}
        &--print:before {
            content: ""}
        &--camera:before {
            content: ""}
        &--font:before {
            content: ""}
        &--bold:before {
            content: ""}
        &--italic:before {
            content: ""}
        &--text-height:before {
            content: ""}
        &--text-width:before {
            content: ""}
        &--align-left:before {
            content: ""}
        &--align-center:before {
            content: ""}
        &--align-right:before {
            content: ""}
        &--align-justify:before {
            content: ""}
        &--list:before {
            content: ""}
        &--indent-left:before {
            content: ""}
        &--indent-right:before {
            content: ""}
        &--facetime-video:before {
            content: ""}
        &--picture:before {
            content: ""}
        &--pencil:before {
            content: ""}
        &--map-marker:before {
            content: ""}
        &--adjust:before {
            content: ""}
        &--tint:before {
            content: ""}
        &--edit:before {
            content: ""}
        &--share:before {
            content: ""}
        &--check:before {
            content: ""}
        &--move:before {
            content: ""}
        &--step-backward:before {
            content: ""}
        &--fast-backward:before {
            content: ""}
        &--backward:before {
            content: ""}
        &--play:before {
            content: ""}
        &--pause:before {
            content: ""}
        &--stop:before {
            content: ""}
        &--forward:before {
            content: ""}
        &--fast-forward:before {
            content: ""}
        &--step-forward:before {
            content: ""}
        &--eject:before {
            content: ""}
        &--chevron-left:before {
            content: ""}
        &--chevron-right:before {
            content: ""}
        &--plus-sign:before {
            content: ""}
        &--minus-sign:before {
            content: ""}
        &--remove-sign:before {
            content: ""}
        &--ok-sign:before {
            content: ""}
        &--question-sign:before {
            content: ""}
        &--info-sign:before {
            content: ""}
        &--screenshot:before {
            content: ""}
        &--remove-circle:before {
            content: ""}
        &--ok-circle:before {
            content: ""}
        &--ban-circle:before {
            content: ""}
        &--arrow-left:before {
            content: ""}
        &--arrow-right:before {
            content: ""}
        &--arrow-up:before {
            content: ""}
        &--arrow-down:before {
            content: ""}
        &--mail-forward:before,
        &--share-alt:before {
            content: ""}
        &--resize-full:before {
            content: ""}
        &--resize-small:before {
            content: ""}
        &--plus:before {
            content: ""}
        &--minus:before {
            content: ""}
        &--asterisk:before {
            content: ""}
        &--exclamation-sign:before {
            content: ""}
        &--gift:before {
            content: ""}
        &--leaf:before {
            content: ""}
        &--fire:before {
            content: ""}
        &--eye-open:before {
            content: ""}
        &--eye-close:before {
            content: ""}
        &--warning-sign:before {
            content: ""}
        &--plane:before {
            content: ""}
        &--calendar:before {
            content: ""}
        &--random:before {
            content: ""}
        &--comment:before {
            content: ""}
        &--magnet:before {
            content: ""}
        &--chevron-up:before {
            content: ""}
        &--chevron-down:before {
            content: ""}
        &--retweet:before {
            content: ""}
        &--shopping-cart:before {
            content: ""}
        &--folder-close:before {
            content: ""}
        &--folder-open:before {
            content: ""}
        &--resize-vertical:before {
            content: ""}
        &--resize-horizontal:before {
            content: ""}
        &--bar-chart:before {
            content: ""}
        &--twitter-sign:before {
            content: ""}
        &--facebook-sign:before {
            content: ""}
        &--camera-retro:before {
            content: ""}
        &--key:before {
            content: ""}
        &--gears:before,
        &--cogs:before {
            content: ""}
        &--comments:before {
            content: ""}
        &--thumbs-up-alt:before {
            content: ""}
        &--thumbs-down-alt:before {
            content: ""}
        &--star-half:before {
            content: ""}
        &--heart-empty:before {
            content: ""}
        &--signout:before {
            content: ""}
        &--linkedin-sign:before {
            content: ""}
        &--pushpin:before {
            content: ""}
        &--external-link:before {
            content: ""}
        &--signin:before {
            content: ""}
        &--trophy:before {
            content: ""}
        &--github-sign:before {
            content: ""}
        &--upload-alt:before {
            content: ""}
        &--lemon:before {
            content: ""}
        &--phone:before {
            content: ""}
        &--unchecked:before,
        &--check-empty:before {
            content: ""}
        &--bookmark-empty:before {
            content: ""}
        &--phone-sign:before {
            content: ""}
        &--twitter:before {
            content: ""}
        &--facebook:before {
            content: ""}
        &--github:before {
            content: ""}
        &--unlock:before {
            content: ""}
        &--credit-card:before {
            content: ""}
        &--rss:before {
            content: ""}
        &--hdd:before {
            content: ""}
        &--bullhorn:before {
            content: ""}
        &--bell:before {
            content: ""}
        &--certificate:before {
            content: ""}
        &--hand-right:before {
            content: ""}
        &--hand-left:before {
            content: ""}
        &--hand-up:before {
            content: ""}
        &--hand-down:before {
            content: ""}
        &--circle-arrow-left:before {
            content: ""}
        &--circle-arrow-right:before {
            content: ""}
        &--circle-arrow-up:before {
            content: ""}
        &--circle-arrow-down:before {
            content: ""}
        &--globe:before {
            content: ""}
        &--wrench:before {
            content: ""}
        &--tasks:before {
            content: ""}
        &--filter:before {
            content: ""}
        &--briefcase:before {
            content: ""}
        &--fullscreen:before {
            content: ""}
        &--group:before {
            content: ""}
        &--link:before {
            content: ""}
        &--cloud:before {
            content: ""}
        &--beaker:before {
            content: ""}
        &--cut:before {
            content: ""}
        &--copy:before {
            content: ""}
        &--paperclip:before,
        &--paper-clip:before {
            content: ""}
        &--save:before {
            content: ""}
        &--sign-blank:before {
            content: ""}
        &--reorder:before {
            content: ""}
        &--list-ul:before {
            content: ""}
        &--list-ol:before {
            content: ""}
        &--strikethrough:before {
            content: ""}
        &--underline:before {
            content: ""}
        &--table:before {
            content: ""}
        &--magic:before {
            content: ""}
        &--truck:before {
            content: ""}
        &--pinterest:before {
            content: ""}
        &--pinterest-sign:before {
            content: ""}
        &--google-plus-sign:before {
            content: ""}
        &--google-plus:before {
            content: ""}
        &--money:before {
            content: ""}
        &--caret-down:before {
            content: ""}
        &--caret-up:before {
            content: ""}
        &--caret-left:before {
            content: ""}
        &--caret-right:before {
            content: ""}
        &--columns:before {
            content: ""}
        &--sort:before {
            content: ""}
        &--sort-down:before {
            content: ""}
        &--sort-up:before {
            content: ""}
        &--email:before,
        &--envelope:before {
            content: ""}
        &--linkedin:before {
            content: ""}
        &--rotate-left:before,
        &--undo:before {
            content: ""}
        &--legal:before {
            content: ""}
        &--dashboard:before {
            content: ""}
        &--comment-alt:before {
            content: ""}
        &--comments-alt:before {
            content: ""}
        &--bolt:before {
            content: ""}
        &--sitemap:before {
            content: ""}
        &--umbrella:before {
            content: ""}
        &--paste:before {
            content: ""}
        &--lightbulb:before {
            content: ""}
        &--exchange:before {
            content: ""}
        &--cloud-download:before {
            content: ""}
        &--cloud-upload:before {
            content: ""}
        &--user-md:before {
            content: ""}
        &--stethoscope:before {
            content: ""}
        &--suitcase:before {
            content: ""}
        &--bell-alt:before {
            content: ""}
        &--coffee:before {
            content: ""}
        &--food:before {
            content: ""}
        &--file-text-alt:before {
            content: ""}
        &--building:before {
            content: ""}
        &--hospital:before {
            content: ""}
        &--ambulance:before {
            content: ""}
        &--medkit:before {
            content: ""}
        &--fighter-jet:before {
            content: ""}
        &--beer:before {
            content: ""}
        &--h-sign:before {
            content: ""}
        &--plus-sign-alt:before {
            content: ""}
        &--double-angle-left:before {
            content: ""}
        &--double-angle-right:before {
            content: ""}
        &--double-angle-up:before {
            content: ""}
        &--double-angle-down:before {
            content: ""}
        &--angle-left:before {
            content: ""}
        &--angle-right:before {
            content: ""}
        &--angle-up:before {
            content: ""}
        &--angle-down:before {
            content: ""}
        &--desktop:before {
            content: ""}
        &--laptop:before {
            content: ""}
        &--tablet:before {
            content: ""}
        &--mobile-phone:before {
            content: ""}
        &--circle-blank:before {
            content: ""}
        &--quote-left:before {
            content: ""}
        &--quote-right:before {
            content: ""}
        &--spinner:before {
            content: ""}
        &--circle:before {
            content: ""}
        &--mail-reply:before,
        &--reply:before {
            content: ""}
        &--github-alt:before {
            content: ""}
        &--folder-close-alt:before {
            content: ""}
        &--folder-open-alt:before {
            content: ""}
        &--expand-alt:before {
            content: ""}
        &--collapse-alt:before {
            content: ""}
        &--smile:before {
            content: ""}
        &--frown:before {
            content: ""}
        &--meh:before {
            content: ""}
        &--gamepad:before {
            content: ""}
        &--keyboard:before {
            content: ""}
        &--flag-alt:before {
            content: ""}
        &--flag-checkered:before {
            content: ""}
        &--terminal:before {
            content: ""}
        &--code:before {
            content: ""}
        &--reply-all:before {
            content: ""}
        &--mail-reply-all:before {
            content: ""}
        &--star-half-full:before,
        &--star-half-empty:before {
            content: ""}
        &--location-arrow:before {
            content: ""}
        &--crop:before {
            content: ""}
        &--code-fork:before {
            content: ""}
        &--unlink:before {
            content: ""}
        &--question:before {
            content: ""}
        &--info:before {
            content: ""}
        &--exclamation:before {
            content: ""}
        &--superscript:before {
            content: ""}
        &--subscript:before {
            content: ""}
        &--eraser:before {
            content: ""}
        &--puzzle-piece:before {
            content: ""}
        &--microphone:before {
            content: ""}
        &--microphone-off:before {
            content: ""}
        &--shield:before {
            content: ""}
        &--calendar-empty:before {
            content: ""}
        &--fire-extinguisher:before {
            content: ""}
        &--rocket:before {
            content: ""}
        &--maxcdn:before {
            content: ""}
        &--chevron-sign-left:before {
            content: ""}
        &--chevron-sign-right:before {
            content: ""}
        &--chevron-sign-up:before {
            content: ""}
        &--chevron-sign-down:before {
            content: ""}
        &--html5:before {
            content: ""}
        &--css3:before {
            content: ""}
        &--anchor:before {
            content: ""}
        &--unlock-alt:before {
            content: ""}
        &--bullseye:before {
            content: ""}
        &--ellipsis-horizontal:before {
            content: ""}
        &--ellipsis-vertical:before {
            content: ""}
        &--rss-sign:before {
            content: ""}
        &--play-sign:before {
            content: ""}
        &--ticket:before {
            content: ""}
        &--minus-sign-alt:before {
            content: ""}
        &--check-minus:before {
            content: ""}
        &--level-up:before {
            content: ""}
        &--level-down:before {
            content: ""}
        &--check-sign:before {
            content: ""}
        &--edit-sign:before {
            content: ""}
        &--external-link-sign:before {
            content: ""}
        &--share-sign:before {
            content: ""}
        &--compass:before {
            content: ""}
        &--collapse:before {
            content: ""}
        &--collapse-top:before {
            content: ""}
        &--expand:before {
            content: ""}
        &--euro:before,
        &--eur:before {
            content: ""}
        &--gbp:before {
            content: ""}
        &--dollar:before,
        &--usd:before {
            content: ""}
        &--rupee:before,
        &--inr:before {
            content: ""}
        &--yen:before,
        &--jpy:before {
            content: ""}
        &--renminbi:before,
        &--cny:before {
            content: ""}
        &--won:before,
        &--krw:before {
            content: ""}
        &--bitcoin:before,
        &--btc:before {
            content: ""}
        &--file:before {
            content: ""}
        &--file-text:before {
            content: ""}
        &--sort-by-alphabet:before {
            content: ""}
        &--sort-by-alphabet-alt:before {
            content: ""}
        &--sort-by-attributes:before {
            content: ""}
        &--sort-by-attributes-alt:before {
            content: ""}
        &--sort-by-order:before {
            content: ""}
        &--sort-by-order-alt:before {
            content: ""}
        &--thumbs-up:before {
            content: ""}
        &--thumbs-down:before {
            content: ""}
        &--youtube-sign:before {
            content: ""}
        &--youtube:before {
            content: ""}
        &--xing:before {
            content: ""}
        &--xing-sign:before {
            content: ""}
        &--youtube-play:before {
            content: ""}
        &--dropbox:before {
            content: ""}
        &--stackexchange:before {
            content: ""}
        &--instagram:before {
            content: ""}
        &--flickr:before {
            content: ""}
        &--adn:before {
            content: ""}
        &--bitbucket:before {
            content: ""}
        &--bitbucket-sign:before {
            content: ""}
        &--tumblr:before {
            content: ""}
        &--tumblr-sign:before {
            content: ""}
        &--long-arrow-down:before {
            content: ""}
        &--long-arrow-up:before {
            content: ""}
        &--long-arrow-left:before {
            content: ""}
        &--long-arrow-right:before {
            content: ""}
        &--apple:before {
            content: ""}
        &--windows:before {
            content: ""}
        &--android:before {
            content: ""}
        &--linux:before {
            content: ""}
        &--dribbble:before {
            content: ""}
        &--skype:before {
            content: ""}
        &--foursquare:before {
            content: ""}
        &--trello:before {
            content: ""}
        &--female:before {
            content: ""}
        &--male:before {
            content: ""}
        &--gittip:before {
            content: ""}
        &--sun:before {
            content: ""}
        &--moon:before {
            content: ""}
        &--archive:before {
            content: ""}
        &--bug:before {
            content: ""}
        &--vk:before {
            content: ""}
        &--weibo:before {
            content: ""}
        &--renren:before {
            content: ""}
        }
    }


