
// background color
.bg {
    &--white {
        background-color: #ffffff;
    }
    &--light {
        background-color: $color-seashell;

        h1, h2, h3, h4, h5, h6 {
            color: $color-bright-gray;
        }
        p {
            color: $color-bright-gray;
        }
    }
    &--dark {
        background-color: $color-bright-gray;

        h1, h2, h3, h4, h5, h6 {
            color: #ffffff;
        }
        p {
            color: $color-submarine;
        }
    }
}

// headings
.heading {
    &--subheading {
        margin-bottom: 28px;

        &:after {
            position: absolute;
            left: 0;
            bottom: -15px;
            content: "";
            width: 62px;
            height: 3px;
            background-color: $color-blaze-orange;
        }

        @media(min-width: $sm) {
            margin-bottom: 37px;

            &:after {
                bottom: -20px;
                width: 108px;
                height: 5px;
            }
        }
    }
}

// text
.text {
    &--medium {
        font-weight: 500;
    }
    &--bold {
        font-weight: 700;

        &-condensed {
            font-family: $font-family-condensed;
        }
    }
    &--larger {
        font-size: 16px;
        @include line-height(23px, 16px);

        @media(min-width: $sm) {
            font-size: 18px;
            @include line-height(28px, 18px);
        }
    }
    &--uppercase {
        text-transform: uppercase;
    }
}
