$gray-darker:               #000000;
$gray-dark:                 #2f2b2b;
$gray:                      #666666;
$gray-light:                #888888;
$gray-lighter:              #e6e6e6;
$gray-lightest:             #f1f1f1;

$brand-primary:             #ffcf00;
$brand-secondary:           #339933;
$brand-thirtiary:           #000000;
$brand-success:             $brand-secondary;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #e32500;

// body
$body-bg:                   #ffffff;

// text
$text-color:                $gray-dark;
$link-color:                $gray-darker;
$link-hover-color:          $brand-danger;
$link-hover-decoration:     none; // or ie: underline etc

// typography
$font-family-sans-serif:    Helvetica, Arial, sans-serif;
$font-family-serif:         Georgia, "Times New Roman", Times, serif;
$font-family-base:          $font-family-sans-serif;

$font-size-base:            16px;
$line-height-base:          1.2;

$headings-font-family:      "HelveticaNeueLTW1G", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight:      700;
$headings-line-height:      $line-height-base;
$headings-color:            $gray-darker;

// breakpoints
$xs:                        480px;
$screen-xs:                 $xs;
$screen-xs-min:             $screen-xs;

$sm:                        768px;
$screen-sm:                 $sm;
$screen-sm-min:             $screen-sm;

$md:                        992px;
$screen-md:                 $md;
$screen-md-min:             $screen-md;

$lg:                        1200px;
$screen-lg:                 $lg;
$screen-lg-min:             $screen-lg;
