///
/// Color (convention)
/// Variables are named after closest matching color name.
/// http://chir.ag/projects/name-that-color (includes 1500+ names)
/// Slight tone adjustment (2.5% - 5%) possible using (standard) sass functions darken() and lighten().
///
$color-black:               #000000;
$color-shark:               #21252b;
$color-bright-gray:         #353c45;
$color-nevada:              #656b6f;
$color-oslo-gray:           #8c9093;
$color-submarine:           #b9c1c6;
$color-seashell:            #f1f1f1;
$color-white:               #ffffff;
$color-viking:              #5bc0de;
$color-sandy-brown:         #f0ad4e;

$color-brand-blaze-orange:  #fc5f01;
$color-brand-endeavour:     #00529c;
$color-brand-jelly-bean:    #266cab;
$color-brand-polo-blue:     #80a9ce;
$color-brand-crimson:       #ed1b2e;

$color-brand-success:       $color-brand-endeavour;
$color-brand-info:          $color-viking;
$color-brand-warning:       $color-sandy-brown;
$color-brand-danger:        $color-brand-crimson;

// body
$body-bg:                   $color-white;

// text
$text-color:                $color-bright-gray;
$link-color:                $color-brand-endeavour;
$link-hover-color:          $color-brand-endeavour;
$link-hover-decoration:     none; // or ie: underline etc

// typography
$font-family-sans-serif:    "HelveticaNeueLTW1G", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-condensed:     "HelveticaNeueLTW1G-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:         Georgia, "Times New Roman", Times, serif;
$font-family-base:          $font-family-sans-serif;

$font-size-base:            16px;
$line-height-base:          1.2;

$headings-font-family:      $font-family-sans-serif;
$headings-font-weight:      700;
$headings-line-height:      $line-height-base;
$headings-color:            $color-bright-gray;

$icon-font-family:         "FontAwesome";

// breakpoints
$xs:                        480px;
$screen-xs:                 $xs;
$screen-xs-min:             $screen-xs;

$sm:                        768px;
$screen-sm:                 $sm;
$screen-sm-min:             $screen-sm;

$md:                        992px;
$screen-md:                 $md;
$screen-md-min:             $screen-md;

$lg:                        1200px;
$screen-lg:                 $lg;
$screen-lg-min:             $screen-lg;

// grid
$grid-columns:              12;
$grid-gutter-width:         20px;

// container widths
$container-tablet:          (720px + $grid-gutter-width);
$container-sm:              $container-tablet;

$container-desktop:         (940px + $grid-gutter-width);
$container-md:              $container-desktop;

$container-large-desktop:   (1140px + $grid-gutter-width);
$container-lg:              $container-large-desktop;

// nav breakpoints
$grid-float-breakpoint:     $sm;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);
