// colors
$grey-dark:                 #2f2b2b;
$grey:                      #666666;
$grey-light:                #888888;
$grey-lighter:              #e6e6e6;
$grey-lightest:             #f1f1f1;

$brand-primary:             #ffcf00;
$brand-secondary:           #339933;
$brand-success:             $brand-secondary;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #e32500;