{% if extends %}{% extends "styleguide/includes/layout.html" %}{% endif %}

        {% block content %}
        {% if name %}{% include "styleguide/includes/moduleinfo.html" %}{% endif %}

        <footer class="footer js-footer">

			<div class="container-fluid">
				<div class="container footer__text">
					<div class="nav nav-stacked col-md-3">
						<h4>Other DAF sites</h4>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">The new DAF Truck</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">Accordion</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">TEC</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">DAF Connect form</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">DAF Components</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">DAFshop</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">Eportal - inloggen dealer</a><br>
					</div>

					<div class="nav nav-stacked col-md-3">
						<h4>Related links</h4>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">The new DAF Truck</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">Accordion</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">TEC</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">DAF Connect form</a><br>
					</div>

					<div class="nav nav-stacked col-md-3">
						<h4>Technical Information</h4>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">The new DAF Truck</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">Accordion</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">TEC</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">Contact Informatie DAF Trucks N.V.</a><br>
						<div class="icon icon__font icon__font--angle-right footer__text__arrow-right"></div>
						<a href="#">DAF en Cookies</a><br>
					</div>

					<div class="nav nav-stacked col-md-3">
						<div class="footer__text__social-icons">
							<h4>Follow us</h4>
							<a href="#" class="icon icon__font icon__font--twitter-sign"></a>
							<a href="#" class="icon icon__font icon__font--facebook-sign"></a>
							<a href="#" class="icon icon__font icon__font--linkedin-sign"></a>
							<a href="#" class="icon icon__font icon__font--youtube-sign"></a>
							<a href="#" class="icon icon__font icon__font--flickr"></a>
							<a href="#" class="icon icon__font icon__font--instagram"></a>
							<a href="#" class="icon icon__font icon__font--google-plus-sign"></a>
						</div>

						<select class="selectpicker footer__text__lang-dropdown" role="button" data-width="auto">
							<option>English</option>
							<option>Nederlands</option>
						</select>


						<!--<div class="btn-group bootstrap-select footer__text__lang-dropdown">
							<button type="button" class="btn-dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="English" aria-expanded="true">
								<span class="filter-option pull-left">hallo</span>
								<span class="bs-caret">
									<span class="caret"></span>
								</span>
							</button>
							<div class="dropdown-menu" role="combobox">
									<option>English</option>
									<option>NL</option>
							</div>
						</div>-->

						<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
						</ul>-->


					</div>

					<div class="footer__bottom-text col-xs-12">
						<p>© 2017 DAF - 
						<a href="#">Legal notice</a> -
						<a href="#">Privacy statement</a> -
						<a href="#">General conditions</a> -
						<a href="#">Cookie statement</a>
						</p>
					</div>

				</div>

			</div>
			<div class="container-fluid footer__remove-bg-padding">
				<div class="footer__line-bottom">
					<div class="container">
						<p class="footer__line-bottom__footer-text"><strong>A PACCAR COMPANY </strong> DRIVEN BY QUALITY</p>
						<a href="#">
							<img src="/assets/img/logo-DAF.svg" class="icon footer__line-bottom__company-logo">
							</img>
						</a>
					</div>
				</div>
			</div>

        </footer>
        {% endblock %}
